asgiref==3.5.2
comtypes==1.1.14
dj-database-url==0.5.0
Django==4.0.4
django-heroku==0.3.1
django-richtextfield==1.6.1
django-user-agents==0.4.0
gunicorn==20.1.0
lxml==4.9.1
numpy==1.23.4
pandas==1.5.1
psycopg2==2.9.3
py-espeak-ng==0.1.8
python-dateutil==2.8.2
python-decouple==3.6
python-docx==0.8.11
python-memcached==1.59
pyttsx3==2.90
pytz==2022.5
PyYAML==6.0
six==1.16.0
sqlparse==0.4.2
tzdata==2022.1
ua-parser==0.15.0
user-agents==2.2.0
whitenoise==6.1.0
