:root {
  --small-font: 2vh;
  --medium-font: 3vh;
  --large-font: 6vh;
  --huge-font: 10vh;

  --font-color: #3C4043;
  --font-family: "Google Sans", Roboto, Arial, sans-serif;

  --brand-color: #14C5D9;
  --backgroud-color: #FFF;
  --container-color: #F9F9F9;

  --border-color: #D3D3D3;
  --success-color: #D4AF37;

  --transition-time: 2s;
}

/*Nagivation*/
.navigation {
  background-color: var(--background-color);
  display: flex;
  height: 12vh;
  left: 0;
  position: static;
  max-width: 100%;
  width: 100%;
  top: 0;
}

.navigation_item {
  display: inline;
  padding: 10px;
}

.navigation_link {
  border-radius: 24px;
  border-style: none;
  color: #3c4043;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 12px;
  font-weight: 750;
  letter-spacing: .5px;
  text-align: center;
  text-decoration: none;  
}


/*Side menu*/
.side_menu_container {
  background-color: rgba(0, 0, 0, 0.7);
  display: block;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}

.side_menu {
  background-color: #FAFAFA;
  display: block;
  height: 100%;
  padding: 15vh 0vw;
  position: relative;
  float: left;
  width: 20vw;
  z-index: 98;
}

.side_menu_box {
  margin: 2vh 0vw;
}

.side_menu_link {
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 750;
  height: 100%;
  letter-spacing: .5px;
  margin: 0vh 0vw;
  overflow: hidden;
  padding: 0vh 5vw;
  position: relative;
  white-space: nowrap;
  width: 100%;
}

.side_menu_link:hover {
  font-weight: 1000;
}

.side_menu_link_first {
  font-weight: 1000;
}

.side_menu_link_first:hover {
  font-weight: 1000;
  color: inherit;
}

.hamburgers {
  display: inline-flex;
  position: absolute;
  top: 5vh;
  left: 5vw;
  z-index: 100;
}

.hamburger {
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  cursor: default;
  padding: 10px;
  margin: 0vh 1vw 0vh 0vw;
}

.hamburger_solo {
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  cursor: default;
  float: left;
  margin-right: 2em;
  padding: 10px;
  position: absolute;
  top: 5vh;
  left: 5vw;
  z-index: 100;
}

/*Clock*/
.clock_dot {
  border-radius: 100%;
  display: block;
  height: 1vw;
  width: 1vw;
}

.clocked_in {
  background-color: #BCE043;
}

.clocked_out {
  background-color: #E0432D;
}

.navigation_counter_box {
  display: block;
  font-family: var(--font-family);
  font-size: var(--small-font);
  font-weight: 750;
  position: absolute;
  top: 4vh;
  right: 5vw;
  z-index: 100;
}

.navigation_counter {
  background-color: var(--brand-color);
  color: #FFF;
  text-align: center;
  width: 3vw;
}