{% extends 'base.html' %}
{% block 'content' %}
{% load static %}

<h1>SURVEY OPTIONS</h1>

<form action="{% url 'add_survey_question' %}"  method="POST">
	{% csrf_token %}

   <div class="flex-parent jc-center">
      <div class="input_container">
         <label class="input_label">Question</label>
         <input type="text" class="input_content" name="question" required>
      </div>
   </div>

  <div class="flex-parent jc-center">
     <div class="input_container">
      <label class="input_label">Type</label>

        <select required class="input_content" name="question_type">
            <option selected disabled value=""></option>
            <option value="multiple choice">multiple choice</option>
            <option value="open">open</option>
        </select>

    </div>
  </div>

  <div class="flex-parent jc-center">
     <div class="input_container">
      <label class="input_label">Options</label>

        <ul>

            {% for option in options %}
              <li class="checkbox_list">
                <input type="checkbox" id="{{ option.1 }}" value="{{ option.0 }}" name="option">
                <label for="{{ option.1 }}">{{ option.1 }}</label>
              </li>
            {% endfor %}

        </ul>

    </div>
  </div>

  <div class="flex-parent jc-center">
     <div class="input_container">
      <label class="input_label">Action</label>

        <select required class="input_content" name="action">
            <option selected disabled value=""></option>
            <option value="none">none</option>
        </select>

    </div>
  </div>

  <div class="flex-parent jc-center">
      <button type="submit" class="button_main" name="action_on_survey" value="add">Add</button>
  </div>

</form>

<table>

      <tr>

         <th>ID</th>
         <th>Question</th>
         <th>Type</th>
         <th>Action</th>

      </tr>

   {% for question in questions %}

      <tr class="tr_clickable" onclick="jump({{ question.0 }})">

         <a id="{{ question.0 }}" href="{% url 'display_survey_question' question_id=question.0 %}"></a>

         <td>{{ question.0 }}</td>
         <td>{{ question.1 }}</td>
         <td>{{ question.2 }}</td>
         <td>{{ question.4 }}</td>

      </tr>

   {% endfor %}

</table>

<div class="white_space"></div>

<script src="{% static 'functions.js' %}"></script>

{% endblock %}