{% extends 'base.html' %}
{% block 'content' %}
{% load static %} 

<h1>PLAN A MODULE</h1>

<form action="{% url 'add_curriculum' %}" method="POST">
	{% csrf_token %}

  <div class="flex-parent jc-center">
     <div class="input_container">
      <label class="input_label">Name</label>

          {% if names|length == 1 %}

            <input type="text" class="input_content input_prefilled" name="name" value="{{ names.0 }}">

          {% else %}
        <select required class="input_content" name="name">

            <option selected value="{{ client }}">{{ client }}</option>
            {% for name in names %}
            <option value="{{ name }}">{{ name }}</option>
            {% endfor %}

          {% endif %}

      </select>
    </div>
  </div>

  <div class="flex-parent jc-center">
     <div class="input_container">
      <label class="input_label">What would you like to plan?</label>

      <div class="flex-parent jc-center">
          <button type="button" class="button_main" id="other_modules" onclick="showHide('list_of_modules')">Other modules</button>
      </div>

    </div>
  </div>

  <div class="flex-parent jc-center" id="list_of_modules" style="display: none; margin-top: 20px">
     <div class="input_container">
      <label class="input_label">Module</label>

        <select class="input_content" name="component_id">
            <option disabled selected value></option>

            {% for module in modules %}
              <option value="{{ module.0 }}">{{ module.0 }}</option>
            {% endfor %}

        </select>

      <div class="flex-parent jc-center">
          <button type="submit" class="button_main" name="curriculum_action" value="choose_other_modules">Choose</button>
      </div>

    </div>
  </div>

</form>

<script src="{% static 'functions.js' %}"></script>
<script type="text/javascript">
   forgetPage(true);
</script>  

{% endblock %}