{% extends 'base.html' %}
{% block 'content' %}

<h1>CREATE A MODULE</h1>

<form action="{% url 'add_module' component=component id_prefix=id_prefix reference=reference resources=resources %}" method="POST">
	{% csrf_token %}

  <div class="flex-parent jc-center">
    <div class="input_container">
      <label class="input_label">Component</label>
      <input required type="text" class="input_content input_prefilled" name="component" value="{{ component }}">
    </div>
  </div>

  <div class="flex-parent jc-center">
    <div class="input_container">
      <label class="input_label">ID prefix</label>
      <input required type="text" class="input_content input_prefilled" name="id_prefix" value="{{ id_prefix }}">
    </div>
  </div>


  <div class="flex-parent jc-center">
     <div class="input_container">
      <label class="input_label">ID suffix</label>
      <input type="number" class="input_content input_prefilled" name="id_suffix" value="{{ next_id_suffix }}">
    </div>
  </div>

  <div class="flex-parent jc-center">
    <div class="input_container">
      <label class="input_label">Title</label>
      <input required type="text" class="input_content" name="title">
    </div>
  </div>

  <div class="flex-parent jc-center">
    <div class="input_container">
      <label class="input_label">Content</label>
      <textarea required type="text" class="input_content input_paragraph" name="content"></textarea>
    </div>
  </div>

  <div class="flex-parent jc-center">
    <div class="input_container">
      <label class="input_label">Conditions</label>
      <textarea required type="text" class="input_content input_paragraph" name="conditions"></textarea>
    </div>
  </div>

  <div class="flex-parent jc-center">
      <button type="submit" class="button_main" name="action_on_curriculum" value="create">Create</button>
  </div>

</form>

{% endblock %}