{% extends 'base.html' %}
{% block 'content' %}


<h1>ADD A PRODUCT</h1>

<form action="{% url 'add_product' %}"  method="POST">
	{% csrf_token %}

  <div class="flex-parent jc-center">
     <div class="input_container">
      <label class="input_label">Category</label>
      <select required class="input_content" id="category_select" name="category" onchange="filterOptions()">
        <option selected disabled value></option>

        {% for category in categories %}
          <option value="{{ category.0 }}">{{ category.0 }}</option>
        {% endfor %}

      </select>
    </div>
  </div>

  <div class="flex-parent jc-center">
     <div class="input_container">
      <label class="input_label">Product</label>
      <select required class="input_content" id="reference" name="reference">
        <option selected disabled value></option>

        <option value="{{ course.10 }}">{{ course.0 }}</option>

      </select>
    </div>
  </div>

  <div class="flex-parent jc-center">
     <div class="input_container">
      <label class="input_label">Product name</label>
        <input type="text" class="input_content" name="title">
    </div>
  </div>

  <div class="flex-parent jc-center">
     <div class="input_container">
      <label class="input_label">Product description</label>
        <textarea type="text" class="input_content input_paragraph" name="description"></textarea>
    </div>
  </div>

  <div class="flex-parent jc-center">
     <div class="input_container">
      <label class="input_label">Image</label>
        <input type="url" class="input_content" name="image">
    </div>
  </div>

  <div class="flex-parent jc-center">
     <div class="input_container">
      <label class="input_label">Activity points</label>
        <input type="number" class="input_content" name="points">
    </div>
  </div>

  <div class="flex-parent jc-center">
     <div class="input_container">
      <label class="input_label">Available quantity</label>
        <input type="number" class="input_content" name="quantity">
    </div>
  </div>

  <div class="flex-parent jc-center">
     <div class="input_container">
      <label class="input_label">Available quantity per client</label>
        <input type="number" class="input_content" name="allocation_per_client">
    </div>
  </div>

  <div class="flex-parent jc-center">
     <div class="input_container">
      <label class="input_label">Status</label>
      <select required class="input_content" name="status">
        <option selected disabled value></option>
        <option value="available">available</option>
        <option value="unavailable">unavailable</option>
      </select>
    </div>
  </div>

  <div class="flex-parent jc-center">
      <button type="submit" class="button_main" name="action_on_product" value="add">Add</button>
  </div>

</form>

<div class="break"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<script type="text/javascript">
  function filterOptions() {
    var selection = document.getElementById('category_select');
    var category = selection.value;
    var reference = document.getElementById('reference');

    reference.innerHTML = "";

    var dummy_option = document.createElement("option");
    reference.appendChild(dummy_option);
    dummy_option.text = '';
    dummy_option.disabled = true;
    dummy_option.selected = true;
    

    $.ajax(
    {
        type: "POST",
        url: {% url 'add_product' %},
        data: {
          'action_on_product': 'filter',
          'category': category,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function(data) 
        {
            var options = JSON.parse(data)

            for (let i = 0; i < options.length; i++) {
              var option = document.createElement("option");
              if (category == 'course') {
                option.text = options[i]['course'];
                option.value = options[i]['course_id'];
                reference.appendChild(option);
              } else {
                option.text = options[i]['catalogue_name'];
                option.value = options[i]['catalogue_number'];
                reference.appendChild(option);
              }
            }
        }
     })
  }
</script>

{% endblock %}