{% extends 'base.html' %}
{% block 'content' %}


<h1>ADD A MODULE TO A MATRIX</h1>

<form action="{% url 'add_matrix' %}" method="POST">
	{% csrf_token %}

  <div class="flex-parent jc-center">
    <div class="input_container">
      <label class="input_label">Matrix</label>

        <select required class="input_content" name="matrix">
            <option disabled selected value></option>

            {% for prefix in prefixes %}
              <option value="{{ prefix.0 }}">{{ prefix.0 }}</option>
            {% endfor %}

        </select>

    </div>
  </div>

  <div class="flex-parent jc-center">
    <div class="input_container">
      <label class="input_label">Component</label>

        <select required class="input_content" name="component_id">
            <option disabled selected value></option>

            {% for component in components %}
              <option value="{{ component.0 }}">{{ component.0 }}</option>
            {% endfor %}

        </select>

    </div>
  </div>

  <div class="flex-parent jc-center">
     <div class="input_container">
      <label class="input_label">Week of the semester</label>

        <input type="number" class="input_content" name="week">

    </div>
  </div>

  <div class="flex-parent jc-center">
    <div class="input_container">
      <label class="input_label">Day of the week</label>

        <select required class="input_content" name="day">
            <option disabled selected value></option>

              <option value="1">Monday</option>
              <option value="2">Tuesday</option>
              <option value="3">Wednesday</option>
              <option value="4">Thursday</option>
              <option value="5">Friday</option>
              <option value="6">Saturday</option>
              <option value="7">Sunday</option>

        </select>

    </div>
  </div>

  <div class="flex-parent jc-center">
      <button type="submit" class="button_main" name="action_on_matrix" value="add">Add</button>
  </div>

</form>

{% endblock %}