{% extends 'base.html' %}
{% block 'content' %}
{% include 'staff_menu.html' %}

<h1>PLAN A MODULE</h1>

<form method="POST">
	{% csrf_token %}

  <div class="flex-parent jc-center">
     <div class="input_container">
      <label class="input_label">Name</label>

          {% if names|length == 1 %}

            <input type="text" class="input_content input_prefilled" name="name" value="{{ names.0 }}">

          {% else %}
        <select required class="input_content" name="name">

            <option disabled selected value></option>
            {% for name in names %}
            <option value="{{ name }}">{{ name }}</option>
            {% endfor %}

          {% endif %}

      </select>
    </div>
  </div>

  <div class="flex-parent jc-center">
     <div class="input_container">
      <label class="input_label">Type</label>
      <input type="text" class="input_content input_prefilled" name="assignment_type" value="{{ assignment_type }}">
    </div>
  </div>

  <div class="flex-parent jc-center"> 
     <div class="input_container">
      <label class="input_label">Deadline</label>
      <input required type="date" class="input_content" name="deadline">
    </div>
  </div>

  <div class="flex-parent jc-center">
     <div class="input_container">
      <label class="input_label">Reference</label>
      <input type="number" class="input_content input_prefilled" name="reference" value="{{ module.6 }}">
    </div>
  </div>

  <div class="flex-parent jc-center">
    <div class="input_container">
      <label class="input_label">Title</label>

      {% if  assignment_type == 'quiz' %}

        <select class="input_content" name="title">
          <option disabled selected value></option>
           {% for entry in entries %}
          <option value="Take {{ entry.0 }}">Take {{ entry.0 }}</option>
          {% endfor %}
        </select>

      {% elif module_status == 1 %}

        <input required type="text" class="input_content" name="title" value="{{ module.2 }}">

      {% else %}

        <input required type="text" class="input_content" name="title">

      {% endif%}

    </div>
  </div>

  <div class="flex-parent jc-center">
    <div class="input_container">
      <label class="input_label">Content</label>

      {% if assignment_type == 'sentences' %}

        <textarea class="input_content input_paragraph" cols="2" wrap="hard" name="content">Click the button below and translate 10 sentences. For the best effects, refrain from using dictionary or Google Translate.</textarea>

      {% elif module_status == 1 %}

        <textarea class="input_content input_paragraph" cols="2" wrap="hard" name="content">{{ module.3 }}</textarea>

      {% else %}

        <input required type="text" class="input_content input_paragraph" name="content">

      {% endif %}

    </div>
  </div>

{% if assignment_type == 'sentences' %}

  <input type="hidden" name="resources" value="-">
  <input type="hidden" name="conditions" value="-">

{% elif module_status == 1 %}

  <div class="flex-parent jc-center">
    <div class="input_container">
      <label class="input_label">Resources</label>
      <textarea required type="text" class="input_content input_paragraph" name="resources">{{ module.4 }}</textarea>
    </div>
  </div>

  <div class="flex-parent jc-center">
    <div class="input_container">
      <label class="input_label">Conditions</label>
      <textarea required type="text" class="input_content input_paragraph" name="conditions">{{ module.5 }}</textarea>
    </div>
  </div>

{% else %}

  <div class="flex-parent jc-center">
    <div class="input_container">
      <label class="input_label">Resources</label>
      <textarea required type="text" class="input_content input_paragraph" name="resources"></textarea>
    </div>
  </div>

  <div class="flex-parent jc-center">
    <div class="input_container">
      <label class="input_label">Conditions</label>
      <textarea required type="text" class="input_content input_paragraph" name="conditions"></textarea>
    </div>
  </div>

{% endif %}

  <input type="hidden" name="component_id" value="{{ component_id }}">

  <div class="flex-parent jc-center">
      <button type="submit" class="button_main" name="curriculum_action" value="plan_curriculum">Plan</button>
  </div>

</form>

{% endblock %}