{% extends 'base.html' %}
{% block 'content' %}
{% load static %}

<h1>ANALYTICS: INDICATORS</h1>

<table>

	<tr>

		<th class="td_sentences">Indicator</th>
		<th>Value</th>

	</tr>


	<tr>
		<td class="td_sentences">Automatic Translation Efficiency Rate</td>
		<td>{{ indicators.ater }}</td>
	</tr>
	<tr>
		<td class="td_sentences">Automatic Translation Occurances</td>
		<td>{{ indicators.ato }}</td>
	</tr>
	<tr>
		<td class="td_sentences">Automatic Translation Efficiency Sample Size</td>
		<td>{{ indicators.atess }}</td>
	</tr>


	{% for average in averages %}
		<tr>
			<td class="td_sentences">{{ average.0 }}'s Student Average of Activity Points This Semster</td>
			<td>{{ average.1 }}</td>
		</tr>
	{% endfor %}

</table>

<div class="break"></div>

<script src="{% static 'functions.js' %}"></script>  

{% endblock %}
