{% extends 'base.html' %}
{% block 'content' %}
{% load static %}

<h1>NEW ENTRIES LAST WEEK</h1>

<table>

	<tr>

		<th>Client</th>
		<th>Vocabulary</th>
		<th>Sentences</th>
		<th>Memories</th>
		<th>Pronunciation</th>

	</tr>

	{% for row in rows %}

		<tr>

			<td>{{ row.client }}</td>
			<td>{{ row.new_vocabulary }}</td>
			<td>{{ row.new_sentences }}</td>
			<td>{{ row.new_memories }}</td>
			<td>{{ row.new_pronunciation }}</td>

		</tr>

	{% endfor %}

</table>

<div class="break"></div>

<script src="{% static 'functions.js' %}"></script>  

{% endblock %}
