{% extends 'base.html' %}
{% block 'content' %}

<h1>ANNOUNCEMENTS</h1>

<table>

	{% for announcement in announcements %}

		<tr class="font">

			<td class="td_sentences">{{ announcement.4 }}</td>
			<td>
				<form action="{% url 'announcements' %}" method="POST">
					{% csrf_token %}
					  <div class="flex-parent jc-center">
					  		<input type="hidden" name="notification_id" value="{{ announcement.0 }}">
					    	<button type="submit" class="list_button button_main" name="action_on_announcement" value="update">Update</button>
					    	<button type="submit" class="list_button button_main" name="action_on_announcement" value="more">More</button>
					  </div>
				</form>
			</td>

		</tr>

	{% endfor %}

</table>

{% include 'footer.html' %}
{% endblock %}