{% extends 'base.html' %}
{% block 'content' %}

<div class="flex-parent jc-center">
	<div class="tab full">
    	<div>
	      	<div class="tab_title post">{{ announcement.4 }}</div>

	      	{% if user.is_staff %}
	      		<div class="tab_content full"><b>ID:</b> {{ announcement.0 }} <b>Timestamp:</b> {{ stamp }} <b>Type:</b> {{ announcement.6 }}</div>
	      	{% else %}
	      		<div class="tab_content full"><b>Timestamp:</b> {{ stamp }}</div>
	      	{% endif %}
	      	
	      	<div class="tab_content full">{{ announcement.5|safe }}</div>
	      	<button type="button" class="button_main top" onclick="jump('campus')">Back</button>
	      	<a id="campus" href="{% url 'campus' %}"></a>
    	</div>
  	</div>
</div>

{% endblock %}