{% extends 'base.html' %}
{% block 'content' %}

{% if entry == None %}
{% else %}

  <h1>APPROVE SENTENCEBOOK: {{ counter }}</h1>

    <div class="flex-parent jc-center">
      <div class="phrase_card">
        <div class="phrase_card_container">
          <h5 class="phrase_card_question">{{ entry.1 }}</h5>
          <p class="phrase_card_answer"><span class="section">{{ entry.2 }}</span></p>
          
        <form method="POST">
          {% csrf_token %}

          <div class="flex-parent jc-center">
            <input type="text" class="input_content" name="comment" value="{{ entry.6 }}">
            <input type="hidden" name="unique_id" value="{{ entry.0 }}">
            <input type="hidden" name="english" value="{{ entry.1 }}">
          </div>

          <div class="flex-parent jc-center">

            <button type="submit" class="button_main" name="sentencebook_action" value="approve">Approve</button>
            <button type="submit" class="button_main" name="sentencebook_action" value="reject">Reject</button>
            <button type="submit" class="button_main" name="sentencebook_action" value="return">Return</button>

          </div>
        </form>


        </div>
      </div>
    </div>

{% endif %}

{% endblock %}