{% extends 'base.html' %}
{% block 'content' %}
{% load static %}

<h1>MY TO-DO LIST</h1>

<div class="list_container">

	<ul class="list">


		{% for uncomplated_assignment in uncomplated_assignments %}

			<form action="{% url 'assignment' %}" method="POST">
				{% csrf_token %}
				<li class="list_item">

					<div class="list_content">{{ uncomplated_assignment.1 }}</div>
					<div class="list_content_small">{{ uncomplated_assignment.0 }}</div>
					<div class="list_content_inside">{{ uncomplated_assignment.7 }}</div>

					<input type="hidden" name="item" value="{{ uncomplated_assignment.0 }}">
					<button type="submit" class="list_button button_main" name="go_to" value="assignment">More</button>

				</li>
			</form>

		{% endfor %}
		{% for complated_assignment in complated_assignments %}

			<form action="{% url 'assignment' %}" method="POST">
				{% csrf_token %}
				<li class="list_item list_item_complted list_item_crossed">

					<div class="list_content">{{ complated_assignment.1 }}</div>
					<div class="list_content_small">{{ complated_assignment.0 }}</div>
					<div class="list_content_inside">{{ complated_assignment.7 }}</div>

					<input type="hidden" name="item" value="{{ complated_assignment.0 }}">
					<button type="submit" class="list_button button_main" name="go_to" value="assignment">More</button>

				</li>
			</form>

		{% endfor %}

	</ul>
</div>

<script type="text/javascript">
	var container = document.getElementById()
</script>

{% include 'footer.html' %}
{% endblock %}
