{% extends 'base.html' %}
{% block 'content' %}

<div class="flex-parent jc-center">

	{% if assignment.11 != 'completed' %}

		<div class="task_card">

	{% else %}

		<div class="task_card list_item_complted">

	{% endif %}



    <div class="task_card_container">
      <div class="task_card_title">{{ assignment.7 }}</div>
      <div class="task_card_details"><b>Deadline:</b> {{ assignment.1 }} <b>Item:</b> {{ assignment.0 }}</div>
      <div class="task_card_content">{{ assignment.8 }}</div>


      {% if assignment.6 == 'reading' %}

      	<div><b>Resources</b></div>
      	<div class="task_card_content"><span><a href="{{ assignment.10 }}" target="_blank">Here.</a></span></div>

      {% elif assignment.10 != '-' %}

      	<div><b>Resources</b></div>
      	<div class="task_card_content"><span>{{ assignment.10|safe }}</span></div>

      {% endif %}

      {% if user.is_staff %}

      	<div><b>Reference</b></div>
      	<div class="task_card_content">{{ assignment.16 }}</div>

      {% endif %}


			<form action="{% url 'assignment' item=item %}" method="POST">
				{% csrf_token %}

					<div class="flex-parent jc-center">

						<button type="submit" class="button_main" name="action_on_assignment" value="{{ assignment.18 }}">{{ assignment.17 }}</button>

					</div>

			</form>

    </div>
  </div>
</div>

{% endblock %}