{% load user_agents %}
{% load static %}

<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>Zawadzky College</title>

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

      <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'styles_other.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'styles_buttons.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'styles_profile.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'styles_cards.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'styles_menu.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'styles_mobile.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'styles_feed.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'styles_tables.css' %}">

      {% if user.is_staff %}

          <nav class="navigation">

            <div class="hamburgers">
              <div>
                <button type="button" class="hamburger" onclick="showHide('staff_side_menu')"><img src="{% static 'images/hamburger.png' %}" width="15" height="15"></button>
              </div>

              <div>
                <button type="button" class="hamburger" onclick="jump('ranking')"><img src="{% static 'images/ranking.png' %}" width="15" height="15"></button>
              </div>
              <a type="hidden" href="{% url 'ranking' %}" id="ranking"></a>

              <div>
                <button type="button" class="hamburger" onclick="jump('campus')"><img src="{% static 'images/college.png' %}" width="15" height="15"></button>
              </div>
              <a type="hidden" href="{% url 'campus' %}" id="campus"></a>

              <div>
                <button type="button" class="hamburger" onclick="jump('clock')"><span class="clock_dot" id="clock_info"></span></button>
              </div>
              <input type="hidden" name="status" id="status_info" value="{{ status }}">
              <a type="hidden" href="{% url 'clock' %}" id="clock"></a>
            <div>

            <div class="side_menu_container" id="staff_side_menu" style="display: none;">
              <div>
                <button type="button" class="hamburger_solo" onclick="showHide('staff_side_menu')"><img src="{% static 'images/hamburger.png' %}" width="15" height="15"></button>
              </div>

              <div class="side_menu">

                <div class="side_menu_box">
                  <a class="side_menu_link side_menu_link_first">{{ user.first_name.upper }} {{ user.last_name.upper }}</a>
                </div>

                <div class="side_menu_box">
                  <a class="side_menu_link" href="{% url 'coach' %}">COACH</a>
                </div>

                <div class="side_menu_box">
                  <a class="side_menu_link" href="{% url 'teacher' %}">TEACHER</a>
                </div>

                <div class="side_menu_box">
                  <a class="side_menu_link" href="{% url 'staff' %}">STAFF</a>
                </div>

                {% if user.is_superuser %}
                  <div class="side_menu_box">
                    <a class="side_menu_link" href="{% url 'management' %}">MANAGEMENT</a>
                  </div>
                {% endif %}

                <div class="side_menu_box">
                  <a class="side_menu_link" href="{% url 'logout_user'%}">LOG OUT</a>
                </div>

              </div>
            </div>

        </nav>

      {% elif user.is_authenticated %}

          <div class="navigation_counter_box">
            <div id="points_counter" class="navigation_counter hamburger"><b><b>{{ quaterly_points }}</b></b>/<span class="navigation_counter_target">{{ target }}</span></div>
          </div>

          <nav class="navigation">

            <div class="hamburgers">
              <div>
                <button type="button" class="hamburger" onclick="showHide('client_side_menu')"><img src="{% static 'images/hamburger.png' %}" width="15" height="15"></button>
              </div>

              <div>
                <button type="button" class="hamburger" onclick="jump('my_profile')"><img src="{{ avatar }}" width="15" height="15"></button>
              </div>
              <a type="hidden" href="{% url 'portrait' client=current_user %}" id="my_profile"></a>

              <div>
                <button type="button" class="hamburger" onclick="jump('ranking')"><img src="{% static 'images/ranking.png' %}" width="15" height="15"></button>
              </div>
              <a type="hidden" href="{% url 'ranking' %}" id="ranking"></a>

              <div>
                <button type="button" class="hamburger" onclick="jump('campus')"><img src="{% static 'images/college.png' %}" width="15" height="15"></button>
              </div>
              <a type="hidden" href="{% url 'campus' %}" id="campus"></a>
            <div>

            <div class="side_menu_container" id="client_side_menu" style="display: none;">
              <div>
                <button type="button" class="hamburger_solo" onclick="showHide('client_side_menu')"><img src="{% static 'images/hamburger.png' %}" width="15" height="15"></button>
              </div>

              <div class="side_menu">

                <div class="side_menu_box">
                  <a class="side_menu_link side_menu_link_first">{{ user.first_name.upper }} {{ user.last_name.upper }}</a>
                </div>

                <div class="side_menu_box">
                  <a class="side_menu_link" href="{% url 'assignments' %}">MY TO-DO LIST</a>
                </div>

                <div class="side_menu_box">
                  <a class="side_menu_link" href="{% url 'my_courses' %}">MY COURSES</a>
                </div>

                <div class="side_menu_box">
                  <a class="side_menu_link" href="{% url 'my_results' %}">MY RESULTS</a>
                </div>

                <div class="side_menu_box">
                  <a class="side_menu_link" href="{% url 'my_statistics' %}">MY STATS</a>
                </div>

                <div class="side_menu_box">
                  <a class="side_menu_link" href="{% url 'flashcard' username=current_user deck='vocabulary' %}">MY VOCABULARY</a>
                </div>

                <div class="side_menu_box">
                  <a class="side_menu_link" href="{% url 'flashcard' username=current_user deck='sentences' %}">MY SENTENCES</a>
                </div>

                <div class="side_menu_box">
                  <a class="side_menu_link" href="{% url 'cards' client=current_user %}">MY FLASHCARDS</a>
                </div>

                <div class="side_menu_box">
                  <a class="side_menu_link" href="{% url 'my_pronunciation' %}">MY PRONUNCIATION</a>
                </div>

                <div class="side_menu_box">
                  <a class="side_menu_link" href="{% url 'memories' %}">MY MEMORIES</a>
                </div>

                <div class="side_menu_box">
                  <a class="side_menu_link" href="{% url 'list_of_submissions' %}">MY ASSIGNMENTS</a>
                </div>

                <div class="side_menu_box">
                  <a class="side_menu_link" href="{% url 'options' %}">MY SETTINGS</a>
                </div>

                <div class="side_menu_box">
                  <a class="side_menu_link" href="{% url 'logout_user'%}">LOG OUT</a>
                </div>

              </div>
            </div>

        </nav>

      {% else %}

        <nav class="navigation">
        </nav>

      {% endif %}

      <div class="container">
        {% if messages %}
          {% for message in messages %}

              {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dmissable" role="alert">

              {% elif message.tags == 'info' %}

                <div class="alert alert-info alert-dmissable" role="alert">

              {% elif message.tags == 'warning' %}

                <div class="alert alert-warning alert-dmissable" role="alert">

              {% else %}

                <div class="alert alert-danger alert-dmissable" role="alert">

              {% endif %}

              {{ message }}
              <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
      </div>

  </head>

  <body>

    <div id="main_content">

      {% block 'content' %}
      {% endblock %}

    </div>

    <script src="{% static 'functions.js' %}"></script>
    <script type="text/javascript">
      function monitorPointsCounter() {
        var counter = document.getElementById('points_counter');
        var points = parseInt('{{ quaterly_points }}');
        var target = parseInt('{{ target }}');
        
        if (points < 0) {
          counter.style.backgroundColor = "#FF0000";
        } else if (points >= target) {
          counter.style.backgroundColor = "#D4AF37";
        }
      }

      window.addEventListener('load', monitorPointsCounter());
      window.addEventListener('load', monitorClock());


    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  </body>
</html>