{% extends 'base.html' %}
{% block 'content' %}
{% load static %} 

<div class="program_box flex-parent jc-center">
	<div class="program_container" id="container">
    	<div class="task_card_container">
   			
			<div class="program_photo_container">
				<img src="{{ challenge.14 }}" alt="" class="program_photo">
				<div class="program_name">{{ challenge.12 }}</div>

			</div>

			<div class="program_photo_container">
	      		<div class="program_description">{{ challenge.13 }}</div>
	      		<hr class="line"></div>
	      		<div class="program_description"><b>Item:</b> {{ challenge.16 }}</div>
	      	</div>

			<form action="{% url 'challenge' challenge_id=challenge.0 %}"  method="POST">
				{% csrf_token %}

				<div class="flex-parent jc-center">
					{% if cta.0 %}
						<button type="submit" class="button_main" name="action_on_challenge" value="{{ cta.1 }}">{{ cta.0 }}</button>
					{% endif %}
				  <button type="submit" class="button_main" name="action_on_challenge" value="back">Back</button>
				</div>

			</form>

    	</div>
  	</div>
</div>

<script type="text/javascript">
	window.addEventListener('load', () => 
		location.hash = "#" + 'container'
		) 
</script>

{% endblock %}