{% extends 'base.html' %}
{% block 'content' %}
{% load static %} 

<div class="milestones">
	<div class="milestone_frame">
		<div class="milestone_box">
			<img class="milestone_image" src="https://images.unsplash.com/photo-1473186505569-9c61870c11f9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
			<div class="milestone_description">Wait for our response</div>
		</div>
	</div>

	<div class=""><div class="path"></div></div>

	<div class="milestone_frame">
		<div class="milestone_box">
			<img class="milestone_image" src="https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" width="100" height="100">
			<div class="milestone_description">Be happy</div>
		</div>
	</div>

	<div class=""><div class="path"></div></div>

	<div class="milestone_frame">
		<img class="milestone_image milestone_locked" src="https://images.unsplash.com/photo-1496181133206-80ce9b88a853?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" width="100" height="100">
		<div class="milestone_description milestone_locked">Read</div>
	</div>

	<div class=""><div class="path"></div></div>

	<div class="milestone_frame">
		<img class="milestone_image milestone_locked" src="https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" width="100" height="100">
		<div class="milestone_description milestone_locked">What can I do</div>
	</div>
</div>

{% endblock %}