{% extends 'no_navigation.html' %}
{% block 'content' %}
{% load static %}

<div class="milestones_container">
	<div class="milestones_header">
		<h4>Challenges</h4>
		<span><b>Your activity points</b></span>
	</div>
	<div class="milestones_bar">
		<div class="milestone_figure_success">{{ activity_points }}</div>
		<div class="activity_progress_box">
			<div class="activity_progress_bar" id="activity_stats"></div>
		</div>
		<div class="milestone_figure">{{ target }}</div>
	</div>
</div>

<div class="milestones">
	{% for challenge in challenges|slice:"0:1" %}
		<div class="milestone_frame">
			<div class="milestone_box" id="{{ challenge.0 }}" name="{{ challenge.9 }}">
				<img class="milestone_image" src="{{ challenge.14 }}">
				<a class="milestone_description" href="{% url 'challenge' challenge_id=challenge.0 %}">{{ challenge.12 }}</a>
			</div>
		</div>
	{% endfor %}

	{% for challenge in challenges|slice:"1:" %}
		<div><div class="path" name="{{ challenge.9 }}" id="{{ challenge.0|add:100 }}"></div></div>

		<div class="milestone_frame">
			<div class="milestone_box" id="{{ challenge.0 }}" name="{{ challenge.9 }}">
				<img class="milestone_image" src="{{ challenge.14 }}">
				<a class="milestone_description" href="{% url 'challenge' challenge_id=challenge.0 %}">{{ challenge.12 }}</a>
			</div>
		</div>
	{% endfor %}

	<div class="break"></div>

</div>



<script type="text/javascript">
	function displayStatus() {
		var boxes = document.getElementsByClassName('milestone_box');

		for (let i = 0; i < boxes.length; i++) {
			var box = boxes[i];
			var value =  box.getAttribute('name');
			var link = box.firstElementChild.nextElementSibling;
			var image = box.firstElementChild;

			if (value == 'locked') {
				box.classList.add('milestone_locked');
				link.onclick = function () {return false;};
				link.style.cursor = 'default';
				link.style.color = 'inherit';
				image.classList.remove('milestone_completed');
			} else if (value == 'completed') {
				image.classList.add('milestone_completed');
				box.classList.remove('milestone_locked');
				location.href = "#" + box.id;
			} else {
				image.classList.remove('milestone_completed');
				box.classList.remove('milestone_locked');
			}
		};
	};

	function arrangePaths() {
		var paths = document.querySelectorAll('.path');

		for (let j = 0; j < paths.length; j++) {
			var path = paths[j];
			var value =  path.getAttribute('name');

			if (value == 'locked') {
			} else if (value == 'completed') {
				path.className = 'path_completed';
			} else {
			};
		};
	}

	window.addEventListener('load', () => displayStatus())
	window.addEventListener('load', () => arrangePaths())
</script>
<script>
	window.addEventListener('load', () => progress());

	var activity = parseFloat({{ activity_points|safe }});
	var target = parseFloat({{ target|safe }});
	var check = activity / target * 15;

	if (check < 1) {
		var advancement = 1.1;
	} else {
		var advancement = check;
	}

	function progress() {
	  var element = document.getElementById("activity_stats");
	  var width = 1;
	  var interval = setInterval(frame, 50);
	  function frame() {
	    if (width >= advancement) {
	      clearInterval(interval);
	    } else {
	      width++;
	      element.style.width = width + 'vw';
	    }
	  }
	}
</script>
{% endblock %}