{% extends 'base.html' %}
{% block 'content' %}

<h1>HOMEWORK</h1>

<div class="list_container">
	<ul class="list">

		{% for uncompleted_assignment in uncompleted_assignments %}

			<form action="{% url 'assignment' item=uncompleted_assignment.0 %}" method="POST">
				{% csrf_token %}
				<li class="list_item">

					<div class="list_content">{{ uncompleted_assignment.1 }}</div>
					<div class="list_content_small">{{ uncompleted_assignment.0 }}</div>
					<div class="list_content_inside">{{ uncompleted_assignment.7 }}</div>

					<div class="list_button">
						<button type="submit" class="button_main" name="go_to" value="check">Check</button>
						<button type="submit" class="button_main" name="go_to" value="assignment">Explore</button>
					</div>

				</li>
			</form>

		{% endfor %}
		{% for completed_assignment in completed_assignments %}

			<form action="{% url 'assignment' item=completed_assignment.0 %}" method="POST">
				{% csrf_token %}
				<li class="list_item list_item_complted list_item_crossed">

					<div class="list_content">{{ completed_assignment.1 }}</div>
					<div class="list_content_small">{{ completed_assignment.0 }}</div>
					<div class="list_content_inside">{{ completed_assignment.7 }}</div>

					<div class="list_button">

						{% if completed_assignment.6 == 'reading' %}
						{% else %}
							<button type="submit" class="button_main" name="go_to" value="uncheck">Uncheck</button>
						{% endif %}
						<button type="submit" class="button_main" name="go_to" value="assignment">Explore</button>
					</div>

				</li>
			</form>

		{% endfor %}

	</ul>
</div>

{% include 'footer.html' %}
{% endblock %}
