{% extends 'base.html' %}
{% block 'content' %}
{% load static %}

<h1>{{ current_client.upper }}'S HOMEWORK</h1>

<div class="list visible">

	{% for overdue_assignment in overdue_assignments %}
		<div class="list_item tr_clickable" onclick="jump({{ overdue_assignment.0 }})">
			<div class="tab_icon_container feedy"><div class="tab_icon_box_border_error mini"><img class="tab_icon" src="{% static 'images/exclamation.png' %}" width="10" height="10"></div></div>
			<div class="item_content">
				<div class="item_title">{{ overdue_assignment.7 }}</div>
				<div class="item_description">{{ overdue_assignment.1|date:"l" }} · {{ overdue_assignment.1 }}</div>
			</div>
			<a id="{{ overdue_assignment.0 }}" href="{% url 'assignment' item=overdue_assignment.0 %}"></a>
		</div>
	{% endfor %}

	{% for uncompleted_assignment in uncompleted_assignments %}
		<div class="list_item tr_clickable" onclick="jump({{ uncompleted_assignment.0 }})">
			<div class="tab_icon_container feedy"><div class="tab_icon_box_border_only mini"><img class="tab_icon" src="{% static 'images/check.png' %}" width="10" height="10"></div></div>
			<div class="item_content">
				<div class="item_title">{{ uncompleted_assignment.7 }}</div>
				<div class="item_description">{{ uncompleted_assignment.1|date:"l" }} · {{ uncompleted_assignment.1 }}</div>
			</div>
			<a id="{{ uncompleted_assignment.0 }}" href="{% url 'assignment' item=uncompleted_assignment.0 %}"></a>
		</div>
	{% endfor %}

	{% for completed_assignment in completed_assignments %}
		<div class="list_item tr_clickable" onclick="jump({{ completed_assignment.0 }})">
			<div class="tab_icon_container feedy"><div class="tab_icon_box_border mini"><img class="tab_icon" src="{% static 'images/check.png' %}" width="10" height="10"></div></div>
			<div class="item_content">
				<div class="item_title">{{ completed_assignment.7 }}</div>
				<div class="item_description">{{ completed_assignment.1|date:"l" }} · {{ completed_assignment.1 }}</div>
			</div>
			<a id="{{ completed_assignment.0 }}" href="{% url 'assignment' item=completed_assignment.0 %}"></a>
		</div>
	{% endfor %}

</div>

{% include 'footer.html' %}
{% endblock %}
