{% extends 'base.html' %}
{% block 'content' %}

<div class="flex-parent jc-center">
	<ul class="square_menu">
		  <a class="square_menu_link" href="{% url 'switch_clients'%}">SWITCH CLIENTS</a>
		  <a class="square_menu_link" href="{% url 'agenda'%}">AGENDA</a>
		  <a class="square_menu_link" href="{% url 'check_homework'%}">HOMEWORK CHECK</a>
		  <a class="square_menu_link" href="{% url 'session_mode'%}">SESSION MODE</a>
		  <a class="square_menu_link" aria-current="page" href="{% url 'add_grade'%}">GRADE THE STUDENT</a>
		  <a class="square_menu_link" href="{% url 'report_listening'%}">REPORT LISTENING</a>
		  <a class="square_menu_link" href="{% url 'report_reading'%}">REPORT READING</a>
	</ul>
</div>


{% endblock %}