{% extends 'base.html' %}
{% block 'content' %}

<div class="flex-parent jc-center">
	<ul class="square_menu">
		  <a class="square_menu_link" href="{% url 'switch_clients' %}">SWITCH CLIENTS</a>
		  <a class="square_menu_link" href="{% url 'agenda' %}">AGENDA</a>
		  <a class="square_menu_link" href="{% url 'check_homework' %}">HOMEWORK CHECK</a>
		  <a class="square_menu_link" href="{% url 'session_mode' %}">SESSION MODE</a>
		  <a class="square_menu_link" href="{% url 'examination_mode' %}">EXAMINATION MODE</a>
		  <a class="square_menu_link" href="{% url 'add_grade' %}">GRADE THE STUDENT</a>
		  <a class="square_menu_link" href="{% url 'results' %}">STUDENTS' RESULTS</a>
		  <a class="square_menu_link" href="{% url 'report_listening' %}">REPORT LISTENING</a>
		  <a class="square_menu_link" href="{% url 'report_reading' %}">REPORT READING</a>
		  <a class="square_menu_link" href="{% url 'client_stream' %}">CLIENT'S STREAM ENTRIES</a>
		  <a class="square_menu_link" href="{% url 'analytics_entries_per_student' coach=current_user %}">ANALYTICS: NEW ENTRIES LAST WEEK</a>
	</ul>
</div>


{% endblock %}