{% extends 'base.html' %}
{% block 'content' %}

<h1>COMPOSED SENTENCES</h1>

<form method="POST">
  {% csrf_token %}

  <div class="flex-parent jc-center"> 
    <div class="input_container">

      <label class="input_label">Name</label>
        <select required class="input_content" name="name">
          <option disabled selected value></option>

          {% for current_client in current_clients %}
          <option value="{{ current_client }}">{{ current_client }}</option>
          {% endfor %}

      </select>

      <label class="input_label">Type</label>
      <select required class="input_content" name="search">

          <option disabled selected value></option>
          <option value="sentences">Sentences</option>
          <option value="list_numbers">Lists</option>


      </select>

    </div>
  </div>

  <div class="flex-parent jc-center">
  <button type="submit" class="button_main" name="composer_action" value="search">Search</button>
  </div>

</form>

{% if search_type == 'sentences' %}

  <table>

      <tr class="font">

        <th>Status</th>
        <th>List number</th>
        <th>Sentence number</th>
        <th>Sentence id</th>
        <th>English</th>
        <th>Polish</th>

      </tr>

    {% for entry in entries %}

      <tr class="font">

        <td>{{ entry.0 }}</td>
        <td>{{ entry.1 }}</td>
        <td>{{ entry.2 }}</td>
        <td>{{ entry.3 }}</td>
        <td class="td_sentences">{{ entry.5 }}</td>
        <td class="td_sentences">{{ entry.6 }}</td>

      </tr>

    {% endfor %}

  </table>

  {% else %}

  <table>

      <tr class="font">

        <th>List number</th>

      </tr>

    {% for entry in entries %}

      <tr class="font">

        <td>{{ entry.0 }}</td>

      </tr>

    {% endfor %}

  </table>

{% endif %}

{% include 'footer.html' %}
{% endblock %}