{% extends 'base.html' %}
{% block 'content' %}

<h1>Composer</h1>

<form method="POST">
  {% csrf_token %}

  <div class="flex-parent jc-center"> 
    <div class="input_container">
      <label class="input_label">Name</label>
        <select required class="input_content" name="name">
          <option disabled selected value></option>

          {% for current_client in current_clients %}
          <option value="{{ current_client }}">{{ current_client }}</option>
          {% endfor %}

      </select>
    </div>
  </div>

  <div class="flex-parent jc-center"> 
    <div class="input_container">
      <label class="input_label">Set</label>
      <select required class="input_content" name="set_name">
        <option disabled selected value></option>
        <option value="custom_set">custom set</option>

        {% for set_name in set_names %}
        <option value="{{ set_name }}">{{ set_name }}</option>
        {% endfor %}

      </select>
    </div>
  </div>

  <div class="flex-parent jc-center">
  <button type="submit" class="button_main" name="composer_action" value="compose">Compose</button>
  </div>

</form>

{% include 'footer.html' %}
{% endblock %}