{% extends 'no_navigation.html' %}
{% block 'content' %}

<div class="program_box flex-parent jc-center">
	<div class="course_container">
    	<div class="task_card_container">
   			
			<div class="program_photo_container">
				<div class="course_name">{{ course.0 }}</div>
			</div>

			

			<div class="program_photo_container">
	      		<div class="course_degree">{{ course.1 }}</div>
	      		<div class="course_description"><b>Description</b></br>{{ course.2 }}</div>
	      		<div class="course_description"><b>Assessment</b></br>{{ course.4 }}</div>
	 			<div class="course_description"><b>Threshold</b></br>{{ course.8 }}</div>
	      	</div>

    	</div>
  	</div>
</div>



{% endblock %}