{% extends 'base.html' %}
{% block 'content' %}
{% load static %} 

<div class="flex-parent jc-center">
  <form action="{% url 'display_spin' client=client story=story %}" method="POST">
  {% csrf_token %}

  <div class="phrase_card">
    <div class="phrase_card_container">
      <p class="phrase_card_answer"><span class="section">{{ message|safe }}</span></p>

      <input type="hidden" name="option_key" value="{{ item.9 }}">
      <input type="hidden" name="view_type" value="{{ item.14 }}">

      <button type="submit" id="a" class="button_main" value="{{ item.5 }}, {{ item.10 }}" name="response">{{ item.1 }}</button>
      <button type="submit" id="b" class="button_main" value="{{ item.6 }}, {{ item.11 }}" name="response">{{ item.2 }}</button>
      <button type="submit" id="c" class="button_main" value="{{ item.7 }}, {{ item.12 }}" name="response">{{ item.3 }}</button>
      <button type="submit" id="d" class="button_main" value="{{ item.8 }}, {{ item.13 }}" name="response">{{ item.4 }}</button>

    </div>
  </div>

  </form>
</div>

<script type="text/javascript">
  const a = document.querySelector("#a");
  const b = document.querySelector("#b");
  const c = document.querySelector("#c");
  const d = document.querySelector("#d");

  if (a.textContent == "") {
    a.style.display = "none";
  };

  if (b.textContent == "") {
    b.style.display = "none";
  };

  if (c.textContent == "") {
    c.style.display = "none";
  };

  if (d.textContent == "") {
    d.style.display = "none";
  };


</script>

{% endblock %}