{% extends 'base.html' %}
{% block 'content' %}

<div class="flex-parent jc-center">
  <div class="task_card">
    <div class="task_card_container">
      <div class="task_card_title">{{ memory.1.upper }}</div>
      <div class="task_card_details"><span><b>Name:</b> {{ memory.4 }} <b>ID:</b> {{ memory.0 }}</span></div>
      
      {% if memory.3 %}

        <div class="task_card_content">{{ memory.2 }} vs. {{ memory.3 }}</div>

      {% else %}

        <div class="task_card_content">{{ memory.2 }}</div>

      {% endif %}
      
      <form method="POST" action="{% url 'display_memory' unique_id=memory.0 %}">
        {% csrf_token %}

        <div class="flex-parent jc-center">
          <button type="submit" class="button_main" name="action_on_memories" value="remove">Remove</button>
        </div>

      </form>


    </div>
  </div>
</div>

{% endblock %}