{% extends 'base.html' %}
{% block 'content' %}

<h1>QUIZZES</h1>

<form action="{% url 'display_quizzes' %}" method="POST">
	{% csrf_token %}

	<div class="flex-parent jc-center">
		<div class="input_container">
			<label class="input_label">Client</label>
			<input type="text" class="input_content input_prefilled" name="client" value="{{ client }}">
		</div>
	</div>

	<div class="flex-parent jc-center">
		<div class="input_container">
			<label class="input_label">Quiz</label>

			<select required class="input_content" name="quiz_id">
			    <option disabled selected value></option>

			    {% for quiz_id in quiz_ids %}
			       <option value="{{ quiz_id.0 }}">{{ quiz_id.1 }}</option>
			    {% endfor %}

			</select>

		</div>
	</div>

	<div class="flex-parent jc-center">
		<button type="submit" class="button_main" name="action_on_quiz" value="search">Search</button>
	</div>

</form>

{% include 'footer.html' %}
{% endblock %}