{% extends 'base.html' %}
{% block 'content' %}
<h1>CURRICULA</h1>

<form action="{% url 'display_curricula' %}" method="POST">
	{% csrf_token %}

  <div class="flex-parent jc-center">
     <div class="input_container">
      <label class="input_label">Name</label>

        <select required class="input_content" name="name">

            <option disabled selected value></option>

            {% for client in clients %}
            	<option value="{{ client }}">{{ client }}</option>
            {% endfor %}

      </select>
    </div>
  </div>


	<div class="flex-parent jc-center">
		<button type="submit" class="button_main" name="action_on_curriculum" value="filter">Filter</button>
	</div>

</form>

<table>

	{% for assignment in assignments %}

		<tr class="font">

			<td>{{ assignment.1 }}</td>
			<td>{{ assignment.0 }}</td>
			<td>{{ assignment.3 }}</td>
			<td>{{ assignment.4 }}</td>

			<td>
				<form action="{% url 'assignment' %}" method="POST">
					{% csrf_token %}

					<input type="hidden" name="item" value="{{ assignment.0 }}">
					<button type="submit" class="list_button button_main" name="go_to" value="assignment">More</button>

				</form>
			</td>

		</tr>

	{% endfor %}

</table>

{% include 'footer.html' %}
{% endblock %}