{% extends 'base.html' %}
{% block 'content' %}

<div class="flex-parent jc-center">

    <div class="tab flashcard">
      <div class="">
        <div class="tab_title flashcard">{{ question.1 }}</div>

        {% if options %}
            {% for option in options %}
                <button type="button" class="button_main">{{ option.1 }}</button>
            {% endfor %}
        {% else %}
            <input type="text" class="input_content">
        {% endif %}

      </div>
    </div>

</div>



{% endblock %}