{% extends 'base.html' %}
{% block 'content' %}

<h1>STORIES</h1>

<form action="{% url 'display_story' %}" method="POST">
	{% csrf_token %}

	<div class="flex-parent jc-center">
	    <div class="input_container">
	        <label class="input_label">Story</label>
	        <select required class="input_content" name="story">
            	<option disabled selected value></option>

            	{% for story in stories %}
            		<option value="{{ story }}">{{ story }}</option>
            	{% endfor %}

        	</select>
	    </div>
	  </div>

	<div class="flex-parent jc-center">
		<button type="submit" class="button_main" name="action_on_story" value="filter">Filter</button>
	</div>

</form>

<table>

		<tr class="font">

			<th>View</th>
			<th>Message</th>
			<th></th>

		</tr>

	{% for item in items %}

		<tr class="font">

			<td>{{ item.0 }}</td>
			<td>{{ item.1 }}</td>
			<td>
				<form action="{% url 'display_story' %}"  method="POST">
					{% csrf_token %}
					  <div class="flex-parent jc-center">
					  		<input type="hidden" name="scene" value="{{ item.0 }}">
					    	<button type="submit" class="button_main" name="action_on_story" value="explore">Explore</button>
					  </div>
				</form>
			</td>

		</tr>

	{% endfor %}

</table>


{% include 'footer.html' %}
{% endblock %}