{% extends 'base.html' %}
{% block 'content' %}

<h1>MATRICES</h1>

<table>

		<tr class="font">

			<th>Matrix</th>
			<th>ID prefix</th>

		</tr>

	{% for prefix in prefixes %}

		<tr class="font">

			<td>{{ prefix.0 }}</td>
			<td>{{ prefix.1 }}</td>
			<td>
				<form action="{% url 'display_prefixes' %}" method="POST">
					{% csrf_token %}

					<input type="hidden" name="matrix" value="{{ prefix.0 }}">
					<button type="submit" class="list_button button_main" name="action_on_matrix" value="more">More</button>

				</form>
			</td>

		</tr>

	{% endfor %}

</table>

{% include 'footer.html' %}
{% endblock %}