{% extends 'base.html' %}
{% block 'content' %}

<h1></h1>

	<div class="flex-parent jc-center">
		<div class="assignment_card">
	    	<div class="task_card_container">
		    	
		      	<div class="task_card_title">{{ announcement.4 }}</div>

		      	{% if user.is_staff %}
		      		<div class="task_card_details"><b>ID:</b> {{ announcement.0 }} <b>Timestamp:</b> {{ stamp }} <b>Type:</b> {{ announcement.6 }}</div>
		      	{% endif %}
		      	
		      	<div><b>Content</b></div>
		      	<div class="task_card_content">{{ announcement.5 }}</div>
	    	</div>
	  	</div>
	</div>

{% endblock %}