{% extends 'base.html' %}
{% block 'content' %}

<h1>EDIT USER'S DETAILS</h1>

<form action="{% url 'list_current_users' %}" method="POST">
	{% csrf_token %}

  <div class="flex-parent jc-center"> 
     <div class="input_container">
      <label class="input_label">User type</label>
      <select required class="input_content" name="user_type">

          <option selected value="{{ details.user_type }}">{{ details.user_type }}</option>
          <option value="coach">coach</option>
          <option value="client">client</option>
          <option value="guest">guest</option>
          <option value="staff">staff</option>

      </select>
    </div>
  </div>

  <div class="flex-parent jc-center"> 
     <div class="input_container">
      <label class="input_label">Name</label>
      <input type="text" class="input_content" name="client" value="{{ details.name }}" required>
    </div>
  </div>

  <div class="flex-parent jc-center"> 
    <div class="input_container">
      <label class="input_label">Phone number</label>
      <input type="tel" class="input_content" name="phone_number" value="{{ details.phone_number }}" required>
    </div>
  </div>

  <div class="flex-parent jc-center"> 
    <div class="input_container">
      <label class="input_label">Contact email address</label>
      <input type="email" class="input_content" name="contact_email_address" value="{{ details.contact_email_address }}" required>
    </div>
  </div>

  <div class="flex-parent jc-center"> 
    <div class="input_container">
      <label class="input_label">Meeting duration</label>
      <select required class="input_content" name="meeting_duration">

          <option selected value="{{ details.meeting_duration }}">{{ details.meeting_duration }}</option>
          <option value="55">55</option>
          <option value="60">60</option>

      </select>
    </div>
  </div>

  <div class="flex-parent jc-center"> 
    <div class="input_container">
      <label class="input_label">Acquisition channel</label>
      <select required class="input_content" name="acquisition_channel">

          <option selected value="{{ details.acquisition_channel }}">{{ details.acquisition_channel }}</option>
          <option value="again">again</option>
          <option value="business cards">business cards</option>
          <option value="cold calls">cold calls</option>
          <option value="directly">directly</option>
          <option value="events">events</option>
          <option value="Facebook ads">Facebook ads</option>
          <option value="Facebook fanpage">Facebook fanpage</option>
          <option value="Facebook groups">Facebook groups</option>
          <option value="instagram">instagram</option>
          <option value="instagram ads">instagram ads</option>
          <option value="newsletter">newsletter</option>
          <option value="other">other</option>
          <option value="recommendations">recommendations</option>
          <option value="training">training</option>
          <option value="unknown">unknown</option>
          <option value="vouchers">vouchers</option>
          <option value="website">website</option>
          <option value="inapplicable">inapplicable</option>

      </select>
    </div>
  </div>

  <div class="flex-parent jc-center"> 
    <div class="input_container">
      <label class="input_label">Recommenders</label>
      <input type="text" class="input_content" name="recommenders" value="{{ details.recommenders }}" required>
    </div>
  </div>

  <div class="flex-parent jc-center"> 
    <div class="input_container">
      <label class="input_label">Reasons for resignation</label>
      <input type="text" class="input_content" name="reasons_for_resignation" value="{{ details.reasons_for_resignation }}" required>
    </div>
  </div>

  <div class="flex-parent jc-center"> 
    <div class="input_container">
      <label class="input_label">Status</label>
      <select required class="input_content" name="status">

          <option selected value="{{ details.status }}">{{ details.status }}</option>
          <option value="active">active</option>
          <option value="inactive">inactive</option>

      </select>
    </div>
  </div>

  <div class="flex-parent jc-center"> 
    <div class="input_container">
      <label class="input_label">Coach</label>
      <select required class="input_content" name="coach">

          <option selected value="{{ details.coach }}">{{ details.coach }}</option>
          <option value="inapplicable">inapplicable</option>

          {% for coach in coaches %}
            <option value="{{ coach }}">{{ coach }}</option>
          {% endfor %}

      </select>
    </div>
  </div>

  <div class="flex-parent jc-center"> 
    <div class="input_container">
      <label class="input_label">Level</label>
      <select required class="input_content" name="level">

          <option selected value="{{ details.level }}">{{ details.level }}</option>
          <option value="inapplicable">inapplicable</option>
          <option value="basic">basic</option>
          <option value="communicative">communicative</option>
          <option value="advanced">advanced</option>

      </select>
    </div>
  </div>

  <div class="flex-parent jc-center"> 
    <div class="input_container">
      <label class="input_label">Daily limit of new vocabulary</label>
      <input type="text" class="input_content" name="daily_limit_of_new_vocabulary" value="{{ details.daily_limit_of_new_vocabulary }}" required>
    </div>
  </div>

  <div class="flex-parent jc-center"> 
    <div class="input_container">
      <label class="input_label">Maximum interval for vocabulary</label>
      <input type="text" class="input_content" name="maximal_interval_vocabulary" value="{{ details.maximal_interval_vocabulary }}" required>
    </div>
  </div>

  <div class="flex-parent jc-center"> 
    <div class="input_container">
      <label class="input_label">Daily limit of new sentences</label>
      <input type="text" class="input_content" name="daily_limit_of_new_sentences" value="{{ details.daily_limit_of_new_sentences }}" required>
    </div>
  </div>

  <div class="flex-parent jc-center"> 
    <div class="input_container">
      <label class="input_label">Maximum interval for sentences</label>
      <input type="text" class="input_content" name="maximal_interval_sentences" value="{{ details.maximal_interval_sentences }}" required>
    </div>
  </div>

  <div class="flex-parent jc-center">
  <button type="submit" class="button_main" name="action_on_user" value="update">Update</button>
  </div>

</form>

{% endblock %}