{% extends 'base.html' %}
{% block 'content' %}
{% load static %}

<div class="flex-parent jc-center" id="question_card">
  <form action="{% url 'flashcard' username=current_user %}" method="POST">
    {% csrf_token %}

    <div class="phrase_card">
      <div class="phrase_card_container">
      <h5 class="phrase_card_question" id="polish_question"></h5>

        <button type="button" class="button_main" name="action_on_flashcard" value="show" id="show_b" onclick="disableButton(this.id); showAnswer()">Show</button>

      </div>
    </div>

  </form>
</div>

<div class="flex-parent jc-center" id="answer_card" style="display: none;">
  <form action="{% url 'flashcard' username=current_user %}" method="POST">
    {% csrf_token %}

    <div class="phrase_card">
      <div class="phrase_card_container">
      <h5 class="phrase_card_question" id="polish_answer"></h5>
      <p class="phrase_card_answer" id="english_answer"><span class="section"></span></p>

        <button type="button" class="button_main" id="incorrect_b_2" name="answer" value="incorrect" onclick="disableButton(this.id); saveAnswer(this.value)">Incorrect</button>
        <button type="button" class="button_main" id="correct_b" name="answer" value="hard" onclick="disableButton(this.id); saveAnswer(this.value)">Correct</button>

      </div>
    </div>

  </form>
</div>

<!--   <div class="flex-parent jc-center keep_distance">
  <div class="counter old_counter">{{ old_due_today }}</div>
  <div class="counter new_counter">{{ new_due_today }}</div>
  <div class="counter problematic_counter">{{ problematic_due_today }}</div>

  <button type="submit" class="counter" name="answer" value="edit"><img src="{% static '/images/pencil.png' %}" width="15" height="15"></button>

</div> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="{% static 'functions.js' %}"></script>
<script type="text/javascript">
    $('#show_b').click(function() {
    var value;
    value = $(this).attr("value");
    $.ajax(
    {
        type:"GET",
        url: {% url 'flashcard_answer' %},
        data:{
                 xxx: value
        },
        success: function(data) 
        {
            alert("SUCCESS");
        }
     })
});

</script>
<script type="text/javascript">
  $(document).ready(function() {
    $.ajax({
        'url': {% url 'flashcard_question' %},
        'method': "GET",
        'dataType': "JSON",
        'contentType': 'application/json',
        
    }).done( function(data) {
        alert(data);
      })
    }
</script>
<script type="text/javascript">
  window.addEventListener('load', () => loadFlashcards())

  function loadFlashcards() {
    var i = 0;
    var polish_question = document.getElementById('polish_question');
    var flashcards = {{ flashcards|safe }};
    polish_question.innerHTML = flashcards[i][1];
    localStorage.setItem('start_time', Date.now());
    localStorage.setItem('round', i);
  }


  function showAnswer() {
    var flashcards = {{ flashcards|safe }};
    var i = localStorage.getItem('round');
    var polish_answer = document.getElementById('polish_answer');
    var english_answer = document.getElementById('english_answer');

    var question_card = document.getElementById('question_card');
    var answer_card = document.getElementById('answer_card');

    var end_time = Date.now();

    localStorage.setItem('end_time', end_time);

    question_card.style.display = 'none';
    answer_card.style.display = 'flex';

    polish_answer.innerHTML = flashcards[i][1];
    english_answer.innerHTML = flashcards[i][2];
  }

  function saveAnswer(answer) {
    var flashcards = {{ flashcards|safe }};
    var i = localStorage.getItem('round');
    var end_time = localStorage.getItem('end_time');
    var start_time = localStorage.getItem('start_time');
    var id = flashcards[i][0]
    var answers = [(id, answer, start_time, end_time)]

    localStorage.setItem('end_time', end_time);

    nextQuestion();
  }

  function nextQuestion() {
    var flashcards = {{ flashcards|safe }};
    var i = localStorage.getItem('round');
    var polish_question = document.getElementById('polish_question'); 
    var question_card = document.getElementById('question_card');
    var answer_card = document.getElementById('answer_card');

    i = ++i;

    polish_question.innerHTML = flashcards[i][1];
    question_card.style.display = 'flex';
    answer_card.style.display = 'none';

    localStorage.setItem('round', i);
    }
</script>


{% endblock %}