{% extends 'base.html' %}
{% block 'content' %}

<form action="{% url 'list_of_assignments_to_grade' %}" method="POST">
  {% csrf_token %}

  <div class="flex-parent jc-center">
  	<div class="assignment_card">
      <div class="task_card_container">
        <div class="task_card_title">{{ essay.2 }}</div>
        <div class="task_card_details"><b>Date:</b> {{ essay.0 }} <b>Author:</b> {{ essay.1 }} <b>Status:</b> {{ essay.4 }}</div>

        <input type="hidden" name="unique_id" value="{{ essay.5 }}">

        <textarea type="text" class="input_content input_paragraph_assignment" name="reviewed_content" required>{{ essay.3 }}</textarea>

        <label class="input_label">Conditions</label>
       <textarea type="text" class="input_content input_prefilled_paragraph input_prefilled" name="conditions">{{ essay.6 }}</textarea>


        <label class="input_label">Comment</label>
        <input type="text" class="input_content input_comment_assignment" name="comment" value="{{ essay.7 }}" required>

        <label class="input_label">Grade</label>
        <select class="input_content" name="grade" required>
          <option disabled selected value></option>
          <option value="passed">passed</option>
          <option value="failed">failed</option>
        </select>

        <div class="flex-parent jc-center">
            <button type="submit" class="button_main" name="revision_action" value="save_graded_assignment">Save</button>
            <button type="submit" class="button_main" name="revision_action" value="save_and_mark_graded_assignment">Save and Submit</button>
        </div>

      </div>
    </div>
  </div>

</form>

{% include 'footer.html' %}
{% endblock %}