{% extends 'base.html' %}
{% block 'content' %}

{% if entry == None %}
{% else %}

  <h1>LABEL SENTENCES: {{ counter }}</h1>

    <div class="flex-parent jc-center">
      <div class="tab flashcard">
        <div class="">
          <div class="tab_title flashcard">{{ entry.0 }}</div>
          <div class="tab_content"><b>Correct: </b>{{ entry.1 }}</div>
          <div class="tab_content"><b>Translation: </b> {{ entry.2 }}</div>

          <form method="POST">
            {% csrf_token %}

            <input type="hidden" class="input_content_solo" name="sentence_number" value="{{ entry.3 }}">

            <div class="flex-parent jc-center">

              <button type="submit" class="button_main" name="result" value="correct">Correct</button>
              <button type="submit" class="button_main" name="result" value="incorrect">Incorrect</button>

            </div>

          </form>


        </div>
      </div>
    </div>

{% endif %}

{% endblock %}