{% extends 'base.html' %}
{% block 'content' %}

<h1>USERS</h1>

<div class="list_container">
	<ul class="list">

		{% for client in current_clients %}
		<form action="{% url 'list_current_users' %}" method="POST">
			{% csrf_token %}
			<li class="list_item">

				<div class="list_content">{{ client }}</div>
				<input type="hidden" name="client" value="{{ client }}">
				<button type="submit" class="list_button button_main" name="action_on_user" value="more">More</button>

			</li>
		</form>

		{% endfor %}

	</ul>
</div>

{% include 'footer.html' %}
{% endblock %}