{% extends 'base.html' %}
{% block 'content' %}

<h1>COURSES</h1>

<div class="list_container">
	<ul class="list">

		{% for course in courses %}
		<form action="{% url 'list_courses' %}" method="POST">
			{% csrf_token %}
			<li class="list_item">

				<div class="list_content">{{ course.0 }}</div>
				<input type="hidden" name="course" value="{{ course.0 }}">
				<button type="submit" class="list_button button_main" name="action_on_course" value="more">More</button>

			</li>
		</form>

		{% endfor %}

	</ul>
</div>

{% include 'footer.html' %}
{% endblock %}