{% extends 'base.html' %}
{% block 'content' %}

<h1>USERS</h1>

<!-- <div class="list_container">
	<ul class="list">

		{% for client in clients %}
		<form action="{% url 'list_current_users' %}" method="POST">
			{% csrf_token %}
			<li class="list_item">

				<div class="list_content">{{ client }}</div>
				<input type="hidden" name="client" value="{{ client }}">
				<button type="submit" class="list_button button_main" name="action_on_user" value="more">More</button>

			</li>
		</form>

		{% endfor %}

	</ul>
</div>
 -->
<table>

	{% for client in clients %}

		<tr class="tr_clickable" onclick="jump('{{ client }}')">

			<td>{{ client }}</td>
			<a id="{{ client }}" href="{% url 'display_user' client=client %}"></a>

		</tr>

	{% endfor %}

</table>

{% include 'footer.html' %}
{% endblock %}