{% extends 'base.html' %}
{% block 'content' %}

<h1>COURSES</h1>

<table>

	{% for course in courses %}

		<tr>
			<form action="{% url 'list_courses' %}" method="POST">
				{% csrf_token %}

				<td>{{ course.10 }}</td>
				<td>{{ course.0 }}</td>
				<td><button type="submit" class="list_button button_main" name="action_on_course" value="more">More</button></td>

				<input type="hidden" name="course" value="{{ course.0 }}">

			</form>
		</tr>

	{% endfor %}
	
</table>

{% include 'footer.html' %}
{% endblock %}