{% extends 'base.html' %}
{% block 'content' %}
{% load static %}

<div class="feed">
	
	<div class="hamburgers_campus">
	  <button type="button" class="hamburger_campus" onclick="jump('deans_office')"><img src="{% static 'images/uni.png' %}" width="15" height="15"></button>
	  <a type="hidden" href="{% url 'deans_office' %}" id="deans_office"></a>
	</div>

	<div class="feed_container pointer" id="todo_container" onclick="displayWidget(this)">
		<div class="title noselect" id="todo_title">
			My Todo List
			<img src="{% static 'images/arrow_down.png' %}" width="10" height="10" id="arrow_down">
			<img  class="invisible" src="{% static 'images/arrow_up.png' %}" width="10" height="10" id="arrow_up">
		</div>
		<div class="list" id="todo_list">

			{% for overdue_assignment in overdue_assignments %}
				<div class="list_item tr_clickable" onclick="jump({{ overdue_assignment.0 }})">
					<div class="tab_icon_container feedy"><div class="tab_icon_box_border_error mini"><img class="tab_icon" src="{% static 'images/exclamation.png' %}" width="10" height="10"></div></div>
					<div class="item_content">
						<div class="item_title">{{ overdue_assignment.7 }}</div>
						<div class="item_description">{{ overdue_assignment.1 }}</div>
					</div>
					<a id="{{ overdue_assignment.0 }}" href="{% url 'assignment' item=overdue_assignment.0 %}"></a>
				</div>
			{% endfor %}

			{% for rating in ratings %}
				<div class="list_item tr_clickable" onclick="jump({{ rating.2 }})">
					<div class="tab_icon_container feedy"><div class="tab_icon_box_border_only mini"><img class="tab_icon" src="{% static 'images/check.png' %}" width="10" height="10"></div></div>
					<div class="item_content">
						<div class="item_title">Fill in the survey</div>
						<div class="item_description">{% now "Y-m-d" %}</div>
					</div>
					<a id="{{ rating.2 }}" href="{% url 'rating' client=rating.0 category=rating.1 position=rating.2 %}"></a>
				</div>
			{% endfor %}

			{% for uncompleted_assignment in uncompleted_assignments %}
				<div class="list_item tr_clickable" onclick="jump({{ uncompleted_assignment.0 }})">
					<div class="tab_icon_container feedy"><div class="tab_icon_box_border_only mini"><img class="tab_icon" src="{% static 'images/check.png' %}" width="10" height="10"></div></div>
					<div class="item_content">
						<div class="item_title">{{ uncompleted_assignment.7 }}</div>
						<div class="item_description">{{ uncompleted_assignment.1 }}</div>
					</div>
					<a id="{{ uncompleted_assignment.0 }}" href="{% url 'assignment' item=uncompleted_assignment.0 %}"></a>
				</div>
			{% endfor %}

			{% for completed_assignment in completed_assignments %}
				<div class="list_item tr_clickable" onclick="jump({{ completed_assignment.0 }})">
					<div class="tab_icon_container feedy"><div class="tab_icon_box_border mini"><img class="tab_icon" src="{% static 'images/check.png' %}" width="10" height="10"></div></div>
					<div class="item_content">
						<div class="item_title">{{ completed_assignment.7 }}</div>
						<div class="item_description">{{ completed_assignment.1 }}</div>
					</div>
					<a id="{{ completed_assignment.0 }}" href="{% url 'assignment' item=completed_assignment.0 %}"></a>
				</div>
			{% endfor %}

		</div>
	</div>

	<div class="feed_open_container">
		{% for announcement in announcements %}
			<div class="tab post">
				<div class="tab_title_area" name="title">
					<input type="hidden" name="color" value="{{ announcement.9 }}">
					<div class="tab_title post">{{ announcement.4 }}</div>
				</div>
				<div class="tab_content_area">
					
					<div class="tab_description">{{ announcement.1 }} by {{ announcement.2 }}</div>
					<div class="tab_content post">{{ announcement.5|safe }}</div>
					<button type="button" class="button_main_page top" onclick="jump('{{ announcement.0 }}')">Read more</button>
					<a id="{{ announcement.0 }}" href="{% url 'announcement' notification_id=announcement.0 %}"></a>
				</div>
			</div>
		{% endfor %}
	</div>
	
</div>

{% if not lightbox %}
	<div class="lightcontainer" id="lightbox">
		<div class="lightbox">
			<div class="lightbox_title mobile" id="lightbox_title">YOUR LAST WEEK'S RESULTS</div>
			<div class="lightbox_row">
				<div class="check_container">
					<div class="check_text mobile" id="homework_text">All tasks on time</div>
					<div class="check_circle" id="homework_circle">
						{% if conditions.homework %}
							<img class="check_image" src="{% static 'images/check.png' %}">
						{% else %}
							<img class="check_image" src="{% static 'images/exclamation.png' %}">
						{% endif %}
					</div>
				</div>
				<div class="check_container">
					<div class="check_text mobile" id="po_text">30 min of TV</div>
					<div class="check_circle" id="po_circle">
						{% if conditions.po %}
							<img class="check_image" src="{% static 'images/check.png' %}">
						{% else %}
							<img class="check_image" src="{% static 'images/exclamation.png' %}">
						{% endif %}
					</div>
				</div>
				<div class="check_container">
					<div class="check_text mobile" id="flashcards_text">Flashcards for 3 days</div>
					<div class="check_circle" id="flashcards_circle">
						{% if conditions.flashcards %}
							<img class="check_image" src="{% static 'images/check.png' %}">
						{% else %}
							<img class="check_image" src="{% static 'images/exclamation.png' %}">
						{% endif %}
					</div>
				</div>
				<div class="check_container">
					<div class="check_text mobile" id="duration_text">Present in class</div>
					<div class="check_circle" id="duration_circle">
						{% if conditions.duration %}
							<img class="check_image" src="{% static 'images/check.png' %}">
						{% else %}
							<img class="check_image" src="{% static 'images/exclamation.png' %}">
						{% endif %}
					</div>
				</div>
			</div>
			<div class="lightbox_result" id="result_text">
				{% if last_week_points > 0 %}
				 +{{ last_week_points }}
				{% else %}
					{{ last_week_points }}
				{% endif %}
			</div>
			<div class="lightbox_button">
				<form action="{% url 'campus' %}"  method="POST">
					{% csrf_token %}
					<button type="submit" class="button_main top" id="lightbox_b" onclick="showHide('lightbox')" name="action_on_campus" value="lightbox">OK</button>
				</form>
			</div>
		</div>
	</div>
{% endif %}

<script type="text/javascript">
	function displayWidget(element) {
		var container = document.getElementById(element.id);
		var box = container.firstElementChild.nextElementSibling;
		var title = container.firstElementChild;
		var arrow_down = container.firstElementChild.firstElementChild;
		var arrow_up = container.firstElementChild.firstElementChild.nextElementSibling;

		if (!box.style.display || box.style.display == 'none') {
			box.style.display = 'block';
			container.style.zIndex = 10;
			container.style.position = 'absolute';
			container.style.height = 'auto';
			title.style.fontSize = 6 + 'vh';
			arrow_up.classList.remove('invisible');
			arrow_down.classList.add('invisible');
		} else {
			box.style.display = 'none';
			container.style.zIndex = 0;
			container.style.position = 'relative';
			container.style.height = 12 + 'vh';
			title.style.fontSize = 2.5 + 'vh';
			arrow_up.classList.add('invisible');
			arrow_down.classList.remove('invisible');
		}
	}
</script>

<script type="text/javascript">
	function colorTitles() {
		var titles = document.getElementsByName('title');
		for (let i = 0; i < titles.length; i++) {
			let title = titles[i];
			let input = title.firstElementChild;
			let color = input.value;

			if (color == 'blue') {
				var color_hex = '#14C5D9';
			} else if (color == 'green') {
				var color_hex = '#4BC0C0';
			} else if (color == 'red') {
				var color_hex = '#FF6384';
			} else if (color == 'gray') {
				var color_hex = '#333538';
			} else if (color == 'white') {
				var color_hex = '#FFF';
			};

			title.style.background = 'linear-gradient(180deg, ' + color_hex + ' 40%, #FFFFFF 20%)';
		}
	}

	window.addEventListener('load', colorTitles())
</script>

<script type="text/javascript">
	function adjustLightbox() {
		var homework_circle = document.getElementById('homework_circle');
		var homework_text = document.getElementById('homework_text'); 
		var homework = '{{ conditions.homework }}'

		var po_circle = document.getElementById('po_circle');
		var po_text = document.getElementById('po_text'); 
		var po = '{{ conditions.po }}'

		var flashcards_circle = document.getElementById('flashcards_circle');
		var flashcards_text = document.getElementById('flashcards_text'); 
		var flashcards = '{{ conditions.flashcards }}'

		var duration_circle = document.getElementById('duration_circle');
		var duration_text = document.getElementById('duration_text'); 
		var duration = '{{ conditions.duration }}'

		var result_text = document.getElementById('result_text');
		var result = '{{ last_week_points }}';

		var button = document.getElementById('lightbox_b');
		var title = document.getElementById('lightbox_title');

		if (homework == 'False') {
			homework_circle.style.backgroundColor = '#EB4F4D';
			homework_text.style.color = '#EB4F4D';
		}

		if (po == 'False') {
			po_circle.style.backgroundColor = '#EB4F4D';
			po_text.style.color = '#EB4F4D';
		}

		if (flashcards == 'False') {
			flashcards_circle.style.backgroundColor = '#EB4F4D';
			flashcards_text.style.color = '#EB4F4D';
		}

		if (duration == 'False') {
			duration_circle.style.backgroundColor = '#EB4F4D';
			duration_text.style.color = '#EB4F4D';
		}

		if (result < 0) {
			result_text.style.color = '#EB4F4D';
		} else if (result == 6) {
			result_text.style.color = '#D4AF37';
			button.style.backgroundColor = '#D4AF37';
			button.style.color = '#FFFFFF';
			title.style.color = '#D4AF37';
			homework_circle.style.backgroundColor = '#D4AF37';
			homework_text.style.color = '#D4AF37';
			po_circle.style.backgroundColor = '#D4AF37';
			po_text.style.color = '#D4AF37';
			flashcards_circle.style.backgroundColor = '#D4AF37';
			flashcards_text.style.color = '#D4AF37';
			duration_circle.style.backgroundColor = '#D4AF37';
			duration_text.style.color = '#D4AF37';

		}
	}

	window.addEventListener('load', adjustLightbox())
</script>

{% include 'footer.html' %}
{% endblock %}
