{% extends 'base.html' %}
{% block 'content' %}

<h1>MY STATS</h1>

<table class="m_table">

		<tr class="font">
			<td class="m_td_sentences">Speaking (in class)</td>
			<td>{{ stats.duration }}</td>
			<td>(minutes)</td>
		</tr>

		<tr class="font">
			<td class="m_td_sentences">Speaking</td>
			<td>{{ stats.ao }}</td>
			<td>(minutes)</td>
		</tr>

		<tr class="font">
			<td class="m_td_sentences">Watching and listening</td>
			<td>{{ stats.po }}</td>
			<td>(minutes)</td>
		</tr>

		<tr class="font">
			<td class="m_td_sentences">Reading</td>
			<td>{{ stats.pv }}</td>
			<td>(words)</td>
		</tr>

		<tr class="font">
			<td class="m_td_sentences">Writing</td>
			<td>{{ stats.av }}</td>
			<td>(words)</td>
		</tr>

		<tr class="font">
			<td class="m_td_sentences">Vocabulary</td>
			<td>{{ stats.vocabulary }}</td>
			<td>(cards)</td>
		</tr>

		<tr class="font">
			<td class="m_td_sentences">Sentences</td>
			<td>{{ stats.sentences }}</td>
			<td>(cards)</td>
		</tr>
</table>

{% endblock %}