{% extends 'base.html' %}
{% block 'content' %}
{% include 'staff_menu.html' %}

<h1>MAKE AN ANNOUNCEMENT</h1>

<form action="{% url 'make_announcement' %}"  method="POST">
	{% csrf_token %}

  <div class="flex-parent jc-center">
     <div class="input_container">
      <label class="input_label">Recipient</label>

        <select required class="input_content" name="recipient">
            <option selected disabled value></option>
            <option value="all">all</option>

            {% for client in clients %}
            <option value="{{ client }}">{{ client }}</option>
            {% endfor %}

        </select>

    </div>
  </div>

  <div class="flex-parent jc-center">
     <div class="input_container">
      <label class="input_label">Subject</label>
            <input type="text" class="input_content" name="subject">
    </div>
  </div>

  <div class="flex-parent jc-center">
     <div class="input_container">
      <label class="input_label">Content</label>
        <textarea type="text" class="input_content input_paragraph" name="content"></textarea>
    </div>
  </div>

  <div class="flex-parent jc-center">
     <div class="input_container">
      <label class="input_label">Type</label>

        <select required class="input_content" name="notification_type">
            <option selected disabled value></option>
            <option value="visible_announcement">visible announcement</option>
            <option value="hidden_announcement">hidden announcement</option>
            <option value="comment">comment</option>
            <option value="rule">rule</option>
            <option value="article">article</option>
        </select>

    </div>
  </div>


  <div class="flex-parent jc-center">
      <button type="submit" class="button_main" name="action_on_announcement" value="publish">Publish</button>
  </div>

</form>

{% endblock %}