{% extends 'base.html' %}
{% block 'content' %}

<ul>
	<li class="side_navigation_item">
	  <h5>STAFF MENU</h5>
	  
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'list_current_users' %}">USERS</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'register_user' %}">REGISTER A USER</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'add_profile' %}">CREATE A PROFILE</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'profiles'%}">PROFILES</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'display_curricula' %}">CURRICULA</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'upload_curriculum' %}">UPLOAD A CURRICULUM</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'display_matrices' %}">MODULES IN MATRICES</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'add_id_prefix' %}">CREATE A MATRIX</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'display_prefixes' %}">MATRICES</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'add_matrix' %}">ADD A MODULE TO A MATRIX</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'plan_matrix' %}">PLAN A MATRIX</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'add_curriculum' %}">PLAN A MODULE</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'add_multiple_curricula' %}">PLAN MULTIPLE MODULES</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'remove_multiple_curricula' %}">REMOVE MULTIPLE MODULES</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'display_modules'%}">MODULES</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'choose_component' %}">CREATE A MODULE</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'add_roadmap' %}">ADD A ROADMAP</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'roadmaps' %}">ROADMAPS</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'plan_program' %}">PLAN A PROGRAM</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'add_program' %}">ADD A PROGRAM</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'manage_programs_and_courses' %}">MANAGES PROGRAMS AND COURSES</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'add_course' %}">ADD A COURSE</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'list_courses' %}">COURSES</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'dictionary' %}">DICTIONARY</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'upload_dictionary' %}">UPLOAD THE DICTIONARY</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'upload_memories' %}">UPLOAD MEMORIES</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'upload_pronunciation' %}">UPLOAD PRONUNCIATION</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'translate_wordbook' %}">TRANSLATE WORDBOOK ENTRIES</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'approve_wordbook'%}">APPROVE WORDBOOK ENTRIES</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'translate_sentencebook'%}">TRANSLATE SENTENCEBOOK ENTRIES</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'approve_sentencebook'%}">APPROVE SENTENCEBOOK ENTRIES</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'review_book'%}">REVIEW WORDBOOK AND SENTENCEBOOK ENTRIES</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'upload_anki'%}">UPLOAD ANKI</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'catalogues'%}">CATALOGUES</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'upload_catalogues'%}">UPLOAD A CATALOGUE</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'upload_sentence_stock'%}">UPLOAD THE SENTENCE STOCK</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'sentence_stock'%}">SENTENCE STOCK</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'update_sentence_stock'%}">UPDATE THE SENTENCE STOCK</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'add_to_sentence_stock'%}">ADD A SENTENCE TO SENTENCE STOCK</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'display_memories' %}">MEMORIES</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'choose_set_type' %}">COMPOSE A SET</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'display_sets'%}">SETS</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'composer'%}">COMPOSER</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'upload_composer'%}">UPLOAD COMPOSER</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'composed_sentences'%}">COMPOSED SENTENCES</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'prompts'%}">PROMPTS</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'stream'%}">STREAM</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'add_stream'%}">ADD STREAM</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'upload_stream'%}">UPLOAD STREAM</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'list_of_assignments_to_grade'%}">GRADE ASSIGNMENTS</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'grade_sentences'%}">GRADE SENTENCES</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'label_sentences'%}">LABEL SENTENCES</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'library'%}">LIBRARY</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'library_line' %}">LIBRARY LINE</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'repertoire' %}">THEATER</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'repertoire_line' %}">REPERTOIRE</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'add_material' %}">ADD MATERIALS</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'materials' %}">MATERIALS</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'download_assignments' %}">DOWNLOAD ASSIGNMENTS</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'announcements' %}">ANNOUNCEMENTS</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'make_announcement' %}">MAKE AN ANNOUNCEMENT</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'add_question' %}">ADD A QUESTION</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'display_questions' %}">QUESTIONS</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'add_collection' %}">ADD A COLLECTION</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'display_collection' %}">COLLECTIONS</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'display_quizzes' %}">QUIZZES</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'display_options' %}">OPTIONS</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'add_spin' %}">CREATE A STORY</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'display_story' %}">DISPLAY STORIES</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'add_ticket' %}">SUBMIT A TICKET</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'display_open_tickets' %}">OPEN TICKETS</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'display_closed_tickets' %}">CLOSED TICKETS</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'upload_timesheet' %}">UPLOAD TIMESHEET</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'onboard_client' %}">ONBOARD A CLIENT</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'add_challenge' %}">CREATE A CHALLENGE</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'display_challenge_matrices' %}">CHALLENGES</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'display_challenge_sets' %}">CHALLENGE SETS</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'display_surveys' %}">SURVEYS</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'add_survey' %}">CREATE A SURVEY</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'add_question_to_survey' %}">ADD A QUESTION TO A SURVEY</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'add_survey_question' %}">SURVEY QUESTIONS</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'add_survey_option' %}">SURVEY OPTIONS</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" href="{% url 'responses' %}">RESPONSES</a>
	</li>
	{% if user.is_superuser %}
		<li class="side_navigation_item">
		  <a class="side_navigation_link" href="{% url 'remove_multiple_from_stream'%}">REMOVE MULTIPLE ENTRIES FROM STREAM</a>
		</li>
		<li class="side_navigation_item">
		  <a class="side_navigation_link" href="{% url 'remove_all_new_cards'%}">REMOVE ALL NEW FLASHCARDS</a>
		</li>
		<li class="side_navigation_item">
		  <a class="side_navigation_link" href="{% url 'remove_profile'%}">REMOVE A PROFILE</a>
		</li>
		<li class="side_navigation_item">
		  <a class="side_navigation_link" href="{% url 'remove_client'%}">REMOVE A CLIENT</a>
		</li>
	{% endif %}
</ul>

{% endblock %}