{% extends 'base.html' %}
{% block 'content' %}


<h1>MY SETTINGS</h1>

<table>
	<tr>
		<th></th>
		<th></th>
		<th></th>

	</tr>

	<tr>
		<form action="{% url 'options' %}" method="POST">
			{% csrf_token %}
			<td>Vocabulary: daily limit of new cards</td>
			<td>
				<input type="number" class="input_content_table" name="daily_limit_of_new_vocabulary" value="{{ daily_limit_of_new_vocabulary }}">
			</td>
			<td>
				<button type="submit" class="button_main" name="action_on_client_option" value="change_vocabulary_limit">Change</button>
			</td>
		</form>
	</tr>

	<tr>
		<form action="{% url 'options' %}" method="POST">
			{% csrf_token %}
			<td>Sentences: daily limit of new cards</td>
			<td>
				<input type="number" class="input_content_table" name="daily_limit_of_new_sentences" value="{{ daily_limit_of_new_sentences }}">
			</td>
			<td>
				<button type="submit" class="button_main" name="action_on_client_option" value="change_sentences_limit">Change</button>
			</td>
		</form>
	</tr>

	<tr>
		<form action="{% url 'options' %}" method="POST">
			{% csrf_token %}
			<td>Vocabulary: maximal interval</td>
			<td>
				<input type="number" class="input_content_table" name="maximal_interval_vocabulary" value="{{ maximal_interval_vocabulary }}">
			</td>
			<td>
				<button type="submit" class="button_main" name="action_on_client_option" value="change_vocabulary_interval">Change</button>
			</td>
		</form>
	</tr>

	<tr>
		<form action="{% url 'options' %}" method="POST">
			{% csrf_token %}
			<td>Sentences: maximal interval</td>
			<td>
				<input type="number" class="input_content_table" name="maximal_interval_sentences" value="{{ maximal_interval_sentences }}">
			</td>
			<td>
				<button type="submit" class="button_main" name="action_on_client_option" value="change_sentences_interval">Change</button>
			</td>
		</form>
	</tr>

</table>

{% endblock %}