{% extends 'base.html' %}
{% block 'content' %}

<h1>PLAN A MATRIX</h1>

<form action="{% url 'plan_matrix' %}" method="POST">
	{% csrf_token %}

  <div class="flex-parent jc-center">
    <div class="input_container">
      <label class="input_label">Client</label>

        <select required class="input_content" name="client">
            <option disabled selected value></option>

            {% for client in clients %}
              <option value="{{ client }}">{{ client }}</option>
            {% endfor %}

        </select>

    </div>
  </div>

  <div class="flex-parent jc-center">
    <div class="input_container">
      <label class="input_label">Matrix</label>

        <select required class="input_content" name="matrix">
            <option disabled selected value></option>

            {% for matrix in matrices %}
              <option value="{{ matrix.0 }}">{{ matrix.0 }}</option>
            {% endfor %}

        </select>

    </div>
  </div>

  <div class="flex-parent jc-center">
     <div class="input_container">
      <label class="input_label">Starting date</label>

        <select required class="input_content" name="starting_date_number">
            <option disabled selected value></option>

            {% for sunday in sundays %}
              <option value="{{ sunday.0 }}">{{ sunday.1 }}</option>
            {% endfor %}

        </select>

    </div>
  </div>

  <div class="flex-parent jc-center">
      <button type="submit" class="button_main" name="action_on_matrix" value="plan">Plan</button>
  </div>

</form>

{% endblock %}