{% extends 'base.html' %}
{% block 'content' %}
{% load static %}

<div class="avatar">

	<div class="avatar_frame">
		<img class="avatar_image" src="{{ avatar }}" width="100" height="100">
	</div>


	<div class="avatar_name_box">
		<div class="avatar_name">
			<div class="info">
				<div>{{ display_name }}</div>
				<a class="" href="{% url 'announcement' tags.degrees_tag %}"><img src="{% static '/images/information.png' %}" width="10" height="10"></a>

			</div>
		</div>
		<div class="avatar_subname">Linguistics for Business</div>
	</div>

	<div class="activity_description">Activity Points</div>
	<div class="acivity_container">
		<div class="activity_figure">{{ activity_points }}</div>
		<div class="activity_progress_box">
			<div class="activity_progress_bar" id="activity_stats"></div>
		</div>
		<div class="activity_figure">{{ target }}</div>
	</div>


</div>

<div class="bio">
	<div class="bio_title">Bio</div>
	<div class="bio_text">{% lorem %}</div>
</div>

<div class="courses custom_hover pointer" id="courses_container" onclick="displayCourses()">
	<div class="course_title noselect">
		{{ first_name }}'s Courses
		<img src="{% static '/images/arrow_down.png' %}" width="10" height="10" id="arrow_down">
		<img class="invisible" src="{% static '/images/arrow_up.png' %}" width="10" height="10" id="arrow_up">
	</div>
	<div class="course_box" id="course_box">
	{% for course in courses %}
		<div class="course">
			<a class="course" href="{% url 'display_roadmap_details' %}">{{ course.1 }}</a>
		</div>
	{% endfor %}
	</div>
</div>





<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script type="text/javascript">
	function displayCourses() {
		var object = document.getElementById('courses_container');
		var course_box = document.getElementById('course_box');
		var arrow_down = document.getElementById('arrow_down');
		var arrow_up = document.getElementById('arrow_up');

		if (!course_box.style.display || course_box.style.display == 'none') {
			course_box.style.display = 'block';
			object.style.top = 20 + 'vh';
			object.style.left = 27 + 'vw';
			object.style.height = 75 + 'vh';
			object.style.width = 68 + 'vw';
			object.classList.remove('custom_hover');
			arrow_down.classList.add('invisible');
			arrow_up.classList.remove('invisible');

		} else {
			course_box.style.display = 'none';
			object.style.top = 58 + 'vh';
			object.style.left = 27 + 'vw';
			object.style.height = 8 + 'vh';
			object.style.width = 30 + 'vw';
			object.classList.remove('custom_hover');
			arrow_down.classList.remove('invisible');
			arrow_up.classList.add('invisible');
		}

	}
</script>

<script>
	window.addEventListener('load', () => progress());

	var activity = parseInt({{ activity_points|safe }});
	var target = parseInt({{ target|safe }});
	var check = activity / target * 15;

	if (check < 1) {
		var advancement = 1.1;
	} else {
		var advancement = check;
	}

	function progress() {
	  var element = document.getElementById("activity_stats");
	  var width = 1;
	  var interval = setInterval(frame, 50);
	  function frame() {
	    if (width >= advancement) {
	      clearInterval(interval);
	    } else {
	      width++;
	      element.style.width = width + 'vw';
	    }
	  }
	}
</script>


<script>
	var data = {{ target_list|safe }};
	const ctx = document.getElementById('myChsart');

	new Chart(ctx, {
	type: 'line',
	data: {
	  datasets: [{
	    data: data
	  }]
	},
	options: {
		  interaction: {
		  mode: 'nearest',
		  axis: 'x',
		  intersect: false
		},
	}
	});
</script>

{% endblock %}