{% extends 'base.html' %}
{% block 'content' %}
<h1>Profiles</h1>

<div class="list_container">
	<ul class="list">
		
		{% for profile in profiles %}

			<form action="{% url 'profiles' %}" method="POST">
				{% csrf_token %}
				<li class="list_item">

					<div class="list_content">{{ profile.0 }}</div>

					<input type="hidden" name="client_name" value="{{ profile.0 }}">
					<button type="submit" class="list_button button_main" name="action_on_profile" value="more">More</button>

				</li>
			</form>

		{% endfor %}

	</ul>
</div>

{% include 'footer.html' %}
{% endblock %}