{% extends 'base.html' %}
{% block 'content' %}

<h1>PROMPTS</h1>


<div class="flex-parent jc-center">	
	<form action="{% url 'prompts' %}" method="POST">
		{% csrf_token %}

		<div class="input_container">
			<label class="input_label">Prompts</label>
			<input type="text" name="prompt" class="input_content">

			<label class="input_label">Parent</label>
			<select required class="input_content" name="parent">
	            <option disabled selected value></option>
	            <option value="stream">stream</option>
	            <option value="memories">memories</option>
	            <option value="options">options</option>
	            <option value="components">components</option>
	            <option value="codes">codes</option>
	            <option value="no_submission">no_submission</option>
	            <option value="course_type">course_type</option>
	            <option value="assessment_method">assessment_method</option>
	            <option value="assessment_system">assessment_system</option>
	            <option value="tests">tests</option>
        	</select>

			<label class="input_label">Patern</label>
			<input type="text" name="pattern" class="input_content">
		</div>

		<div class="flex-parent jc-center">
			<button type="submit" class="button_main" name="prompts_action" value="add_prompt">Add</button>
		</div>

	</form>
</div>

<table>

	{% for prompt in prompts %}

		<tr>

			<form action="{% url 'prompts' %}" method="POST">
				{% csrf_token %}

				<td>{{ prompt.0 }}</td>
				<td>{{ prompt.1 }}</td>
				<td>{{ prompt.2 }}</td>

				<input type="hidden" name="prompt" value="{{ prompt.0 }}">
				<input type="hidden" name="parent" value="{{ prompt.1 }}">
				<td><button type="submit" class="list_button button_main" name="prompts_action" value="delete_prompt">Delete</button></td>

			</form>

		</tr>

	{% endfor %}

</table>

{% include 'footer.html' %}
{% endblock %}