{% extends 'base.html' %}
{% block 'content' %}
{% load static %} 

<div class="flex-parent jc-center">
	<h1>RANKING</h1>
	<a class="" href="{% url 'display_announcement' tags.ranking_tag %}"><img src="{% static '/images/information.png' %}" width="10" height="10"></a>
</div>

<table>

		<tr class="font">

			<th>Position</th>
			<th>Name</th>
			<th>Activity points</th>

		</tr>

	{% for row in rows %}

		<tr class="font">

			<td>{{ row.0 }}</td>
			<td>{{ row.1 }}</td>
			<td>{{ row.2 }}</td>

		</tr>

	{% endfor %}

</table>

{% endblock %}