{% extends 'base.html' %}
{% block 'content' %}
{% load static %} 

<h1>RANKING</h1>

<table>

		<tr class="font">

			<th>Position</th>
			<th>Name</th>
			<th>Activity points</th>

		</tr>

	{% for row in rows %}

		<tr class="font tr_clickable" onclick="jump('{{ row.3 }}')">

			<a id="{{ row.3 }}" href="{% url 'portrait' client=row.3 %}"></a>

			<td>{{ row.0 }}</td>
			<td id="{{ row.0 }}" onmouseover="showOnHover(this.id)">
				<img class="avatar_image" src="{{ row.4 }}" width="50" height="50">
				{{ row.1 }}
			</td>
			<td>{{ row.2 }}</td>

		</tr>

	{% endfor %}

</table>

<div class="break"></div>

<script src="{% static 'functions.js' %}"></script>  

{% endblock %}