{% extends 'base.html' %}
{% block 'content' %}
{% load static %} 

<div class="flex-parent jc-center">
	<h1>RANKING</h1>
	<a class="" href="{% url 'announcement' tags.ranking_tag %}"><img src="{% static '/images/information.png' %}" width="10" height="10"></a>
</div>

<table>

		<tr class="font">

			<th>Position</th>
			<th>Name</th>
			<th>Activity points</th>

		</tr>

	{% for row in rows %}

		<tr class="font">

			<td>{{ row.0 }}</td>
			<td id="{{ row.0 }}" onmouseover="showOnHover(this.id)">{{ row.1 }}</td>
			<td>{{ row.2 }}</td>

		</tr>

	{% endfor %}

</table>

<div class="visit_card" id="card">Hello</div>

<!-- <script type="text/javascript">
	function showOnHover(element) {
		var area = document.getElementById(element);
		var card = document.getElementById('card');
		area.addEventListener('mouseover', function(e) {
			// let left = e.pageX + 10;
			let top = e.pageY + 10;
			// card.style.left = left + 'px';
			card.style.top = top + 'px';
			card.style.display = 'block';
			card.textContent = 'Damien Bunny';
			}
			);
		area.addEventListener('mouseout', () => card.style.display = 'none');
	}
</script> -->

{% endblock %}