{% extends 'base.html' %}
{% block 'content' %}

<div class="flex-parent jc-center">
	<div class="tab flashcard">
		<div>
			<div class="tab_title flashcard">Would you recommend this title?</div>
			<div class="tab_content flashcard">'{{ title }}'</div>

			<form action="{% url 'rating' client=client category=category position=position %}" method="POST">
			{% csrf_token %}

			<div class="flex-parent jc-center">
			<button type="submit" class="button_main" name="action_on_rating" value="1">Yes</button>
			<button type="submit" class="button_main" name="action_on_rating" value="0">No</button>
			</div>

			</form>

		</div>
	</div>
</div>

{% endblock %}