{% extends 'base.html' %}
{% block 'content' %}

<h1>Register a client</h1>

<form action="{% url 'register_client' %}" method="POST">
	{% csrf_token %}

  <div class="flex-parent jc-center"> 
     <div class="input_container">
      <label class="input_label">User type</label>
      <input type="text" class="input_content" name="user_type" value="{{ user_type }}" required>
    </div>
  </div>

  <div class="flex-parent jc-center"> 
     <div class="input_container">
      <label class="input_label">Name</label>
      <input type="text" class="input_content" name="name" value="{{ name }}" required>
    </div>
  </div>

  <div class="flex-parent jc-center"> 
    <div class="input_container">
      <label class="input_label">Phone number</label>
      <input type="tel" class="input_content" name="phone_number" value="{{ phone_number }}" required>
    </div>
  </div>

  <div class="flex-parent jc-center"> 
    <div class="input_container">
      <label class="input_label">Contact email address</label>
      <input type="email" class="input_content" name="contact_email_address" value="{{ contact_email_address }}" required>
    </div>
  </div>

  <div class="flex-parent jc-center"> 
    <div class="input_container">
      <label class="input_label">Internal email address</label>
      <input type="email" class="input_content" name="internal_email_address" value="{{ internal_email_address }}" required>
    </div>
  </div>

  <div class="flex-parent jc-center"> 
    <div class="input_container">
      <label class="input_label">Meeting duration</label>
      <input type="number" class="input_content" name="meeting_duration" value="{{ meeting_duration }}" required>
    </div>
  </div>

  <div class="flex-parent jc-center"> 
    <div class="input_container">
      <label class="input_label">Price</label>
      <input type="number" class="input_content" name="price" value="{{ price }}" required>
    </div>
  </div>

  <div class="flex-parent jc-center"> 
    <div class="input_container">
      <label class="input_label">Acquisition channel</label>
      <input type="text" class="input_content" name="acquisition_channel" value="{{ acquisition_channel }}" required>
    </div>
  </div>

  <div class="flex-parent jc-center"> 
    <div class="input_container">
      <label class="input_label">Recommenders</label>
      <input type="text" class="input_content" name="recommenders" value="{{ recommenders }}" required>
    </div>
  </div>

  <div class="flex-parent jc-center"> 
    <div class="input_container">
      <label class="input_label">Reasons for resignation</label>
      <input type="text" class="input_content" name="reasons_for_resignation" value="{{ reasons_for_resignation }}" required>
    </div>
  </div>

  <div class="flex-parent jc-center"> 
    <div class="input_container">
      <label class="input_label">Status</label>
      <input type="text" class="input_content" name="status" value="{{ status }}" required>
    </div>
  </div>

  <div class="flex-parent jc-center"> 
    <div class="input_container">
      <label class="input_label">Coach</label>
      <input type="text" class="input_content" name="coach" value="{{ coach }}" required>
    </div>
  </div>

  <div class="flex-parent jc-center"> 
    <div class="input_container">
      <label class="input_label">Level</label>
      <input type="text" class="input_content" name="level" value="{{ level }}" required>
    </div>
  </div>

  <div class="flex-parent jc-center"> 
    <div class="input_container">
      <label class="input_label">Daily limit of new vocabulary</label>
      <input type="text" class="input_content" name="daily_limit_of_new_vocabulary" value="{{ daily_limit_of_new_vocabulary }}" required>
    </div>
  </div>

  <div class="flex-parent jc-center"> 
    <div class="input_container">
      <label class="input_label">Maximum interval for vocabulary</label>
      <input type="text" class="input_content" name="maximal_interval_vocabulary" value="{{ maximal_interval_vocabulary }}" required>
    </div>
  </div>

  <div class="flex-parent jc-center"> 
    <div class="input_container">
      <label class="input_label">Daily limit of new sentences</label>
      <input type="text" class="input_content" name="daily_limit_of_new_sentences" value="{{ daily_limit_of_new_sentences }}" required>
    </div>
  </div>

  <div class="flex-parent jc-center"> 
    <div class="input_container">
      <label class="input_label">Maximum interval for sentences</label>
      <input type="text" class="input_content" name="maximal_interval_sentences" value="{{ maximal_interval_sentences }}" required>
    </div>
  </div>

  <div class="flex-parent jc-center">
  <button type="submit" class="button_main" name="edit" value="save">Save</button>
  </div>

</form>

{% endblock %}