{% extends 'base.html' %}
{% block 'content' %}

{% if title == None %}

<h1>REPERTOIRE</h1>

{% else %}

<h1>REPERTOIRE</h1>

<div class="flex-parent jc-center">
  <div class="phrase_card">

    <div class="phrase_card_container">
      <h5 class="phrase_card_question">{{ title.3 }}</h5>
      <h5 class="phrase_card_description">{{ title.2 }}</h5>
      
    <form method="POST">
      {% csrf_token %}

      <div class="flex-parent jc-center">
        <div class="input_container">
          <input type="hidden" name="stamp" value="{{ title.0 }}">
          <input type="hidden" name="date" value="{{ title.1 }}">
          <input type="hidden" name="client" value="{{ title.2 }}">
          <input type="hidden" name="number_of_episodes" value="{{ title.4 }}">
          <input type="hidden" name="status" value="{{ title.5 }}">
          <input type="text" class="input_content_solo input_content_solo_long" name="title" value="{{ title.3 }}">
          <input type="number" class="input_content_solo input_content_solo_long" name="duration" placeholder="duration (minutes)">          
        </div>
      </div>

      <div class="flex-parent jc-center"> 
        <div class="input_container">
          <select class="input_content_solo input_content_solo_long" name="title_type" placeholder="Type">
            <option disabled selected value></option>
            <option value="tv_series">TV series</option>
            <option value="movie">movie</option>
            <option value="audiobook">audiobook</option>
            <option value="podcast">podcast</option>
            <option value="video">video</option>
          </select>
        </div>
      </div>

      <div class="flex-parent jc-center">
        <button type="submit" class="button_main" name="repertoire_line_action" value="save">Save</button>
        <button type="submit" class="button_main" name="repertoire_line_action" value="remove">Remove</button>
      </div>

    </form>


    </div>
  </div>
</div>

{% endif %}

{% endblock %}