{% extends 'base.html' %}
{% block 'content' %}

{% if position == None %}

<h1>REPERTOIRE</h1>

{% else %}

<h1>REPERTOIRE</h1>

<div class="flex-parent jc-center">
  <div class="phrase_card">

    <div class="phrase_card_container">
      <h5 class="phrase_card_question">{{ position.3 }}</h5>
      <h5 class="phrase_card_description">{{ position.2 }}</h5>
      
    <form method="POST">
      {% csrf_token %}

      <div class="flex-parent jc-center">
        <div class="input_container">
          <input type="hidden" name="stamp" value="{{ position.0 }}">
          <input type="text" class="input_content_solo input_content_solo_long" name="title" value="{{ position.3 }}" required>
          <input type="number" class="input_content_solo input_content_solo_long" name="duration" placeholder="duration (minutes)" required>          
        </div>
      </div>

      <div class="flex-parent jc-center"> 
        <div class="input_container">
          <select class="input_content_solo input_content_solo_long" name="title_type" placeholder="Type" required>
            <option disabled selected value></option>
            <option value="tv_series">TV series</option>
            <option value="movie">movie</option>
            <option value="audiobook">audiobook</option>
            <option value="podcast">podcast</option>
            <option value="video">video</option>
          </select>
        </div>
      </div>

      <div class="flex-parent jc-center">
        <button type="submit" class="button_main" name="repertoire_line_action" value="add">Add</button>
        {% if user.is_superuser %}
          <button type="submit" class="button_main" name="repertoire_line_action" value="remove">Remove</button>
        {% endif %}
      </div>

    </form>


    </div>
  </div>
</div>

{% endif %}

{% endblock %}