{% extends 'base.html' %}
{% block 'content' %}

{% if entry == None %}
{% else %}

  <h1>REVIEW WORDBOOK AND SENTENCEBOOK: {{ counter }}</h1>

    <div class="flex-parent jc-center">

      {% if entry.2 == 'rejected' %}
      <div class="phrase_card phrase_card_wrong">
      {% else %}
      <div class="phrase_card">
      {% endif %}

        <div class="phrase_card_container">
          <h5 class="phrase_card_question">{{ entry.1 }}</h5>
          
        <form method="POST">
          {% csrf_token %}

          <div class="flex-parent jc-center">
            <div class="input_container">
              <input type="text" class="input_content_solo input_content_solo_long" name="english_new" value="{{ entry.1 }}" required>
              {% if entry.6 %}
                <input type="text" class="input_content input_prefilled" name="comment" value="{{ entry.6 }}">
              {% endif %}
              <input type="hidden" name="english_old" value="{{ entry.1 }}">
            </div>
          </div>

          <div class="flex-parent jc-center">

            <button type="submit" class="button_main" name="book_action" value="correct">Correct</button>
            <button type="submit" class="button_main" name="book_action" value="delete">Delete</button>

          </div>
        </form>


        </div>
      </div>
    </div>

{% endif %}

{% endblock %}