{% extends 'base.html' %}
{% block 'content' %}

<h1>SENTENCE STOCK</h1>

<table class="table_wide">
	<tr>
		<th class="short_column"></th>
		<th></th>
		<th></th>
		<th></th>

	</tr>

	{% for sentence in sentences %}

		<tr>
			<td class="short_column">{{ sentence.0 }}</td>
			<td class="td_sentences">{{ sentence.1 }}</td>
			<td class="td_sentences">{{ sentence.2 }}</td>
			<td class="td_sentences">{{ sentence.3 }}</td>
		</tr>

	{% endfor %}
	
</table>

{% include 'footer.html' %}
{% endblock %}