{% extends 'base.html' %}
{% block 'content' %}

<ul>
	<li class="side_navigation_item">
	  <h5>STAFF MENU</h5>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'list_current_users' %}">USERS</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'register_user'%}">REGISTER A USER</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'add_profile'%}">CREATE A PROFILE</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'profiles'%}">PROFILES</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'display_curricula'%}">CURRICULA</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'upload_curriculum'%}">UPLOAD A CURRICULUM</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'display_matrices'%}">MATRICES</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'add_matrix'%}">ADD A MATRIX</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'plan_matrix'%}">PLAN A MATRIX</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'add_curriculum'%}">PLAN A MODULE</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'display_modules'%}">MODULES</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'add_module'%}">CREATE A MODULE</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'add_roadmap'%}">ADD A ROADMAP</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'roadmaps'%}">ROADMAPS</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'add_course'%}">ADD A COURSE</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'list_courses'%}">COURSES</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'dictionary'%}">DICTIONARY</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'upload_dictionary'%}">UPLOAD THE DICTIONARY</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'translate_wordbook'%}">TRANSLATE WORDBOOK ENTRIES</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'approve_wordbook'%}">APPROVE WORDBOOK ENTRIES</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'translate_sentencebook'%}">TRANSLATE SENTENCEBOOK ENTRIES</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'approve_sentencebook'%}">APPROVE SENTENCEBOOK ENTRIES</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'upload_anki'%}">UPLOAD ANKI</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'catalogues'%}">CATALOGUES</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'upload_catalogues'%}">UPLOAD A CATALOGUE</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'upload_sentence_stock'%}">UPLOAD THE SENTENCE STOCK</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'sentence_stock'%}">SENTENCE STOCK</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'upload_sets'%}">UPLOAD SETS</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'composer'%}">COMPOSER</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'composed_sentences'%}">COMPOSED SENTENCES</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'prompts'%}">PROMPTS</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'stream'%}">STREAM</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'upload_stream'%}">UPLOAD STREAM</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'list_of_assignments_to_grade'%}">GRADE ASSIGNMENTS</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'grade_sentences'%}">GRADE SENTENCES</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'library'%}">LIBRARY</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'library_line' %}">LIBRARY LINE</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'repertoire' %}">REPERTOIRE</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'repertoire_line' %}">REPERTOIRE LINE</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'add_material' %}">ADD MATERIALS</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'materials' %}">MATERIALS</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'download_assignments' %}">DOWNLOAD ASSIGNMENTS</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'announcements' %}">ANNOUNCEMENTS</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'add_notification' %}">SEND A NOTIFICATION</a>
	</li>
	<li class="side_navigation_item">
	  <a class="side_navigation_link" aria-current="page" href="{% url 'display_options' %}">OPTIONS</a>
	</li>
</ul>

{% endblock %}