{% extends 'base.html' %}
{% block 'content' %}

<form action="{% url 'staff' %}" method="POST">
	{% csrf_token %}

	<div class="flex-parent jc-center">
		<ul class="square_menu">

			<a class="square_menu_link" href="{% url 'old_staff' %}">OLD VIEW</a>
			<a class="square_menu_link" href="{% url 'add_category' %}">CATEGORIES</a>
			<a class="square_menu_link" href="{% url 'clock' %}">CLOCK</a>
			<a class="square_menu_link" href="{% url 'manual_clock' %}">MANUAL CLOCK</a>
			<a class="square_menu_link" href="{% url 'timesheet' %}">TIMESHEET</a>
			<a class="square_menu_link" href="{% url 'update_timesheet' %}">UPDATE THE TIMESHEET</a>
			<a class="square_menu_link" href="{% url 'weekly_checklist' %}">WEEKLY CHECKLIST</a>
			<a class="square_menu_link" href="{% url 'inspection' %}">INSPECTION</a>
			<a class="square_menu_link" href="{% url 'ratings' %}">RATINGS</a>
			<a class="square_menu_link" href="{% url 'analytics_entries' %}">ENTRIES</a>
			<a class="square_menu_link" href="{% url 'product_process' %}">PRODUCTS</a>
			<a class="square_menu_link" href="{% url 'survey_process' %}">SURVEYS</a>
			<a class="square_menu_link" href="{% url 'card_process' %}">FLASHCARDS</a>
			<a class="square_menu_link" href="{% url 'contest_process' %}">CONTESTS</a>
		</ul>
	</div>
	
</form>

<div class="break"></div>

{% endblock %}