{% extends 'base.html' %}
{% block 'content' %}

<h1>MY STATS</h1>

<table>

		<tr class="font">
			<td>Speaking (in class)</td>
			<td>{{ stats.duration }}</td>
			<td>(minutes)</td>
		</tr>

		<tr class="font">
			<td>Speaking</td>
			<td>{{ stats.ao }}</td>
			<td>(minutes)</td>
		</tr>

		<tr class="font">
			<td>Watching and listening</td>
			<td>{{ stats.po }}</td>
			<td>(minutes)</td>
		</tr>

		<tr class="font">
			<td>Reading</td>
			<td>{{ stats.pv }}</td>
			<td>(words)</td>
		</tr>

		<tr class="font">
			<td>Writing</td>
			<td>{{ stats.av }}</td>
			<td>(words)</td>
		</tr>

		<tr class="font">
			<td>Learned vocabulary</td>
			<td>{{ stats.vocabulary }}</td>
			<td>(cards)</td>
		</tr>

		<tr class="font">
			<td>Learned sentences</td>
			<td>{{ stats.sentences }}</td>
			<td>(cards)</td>
		</tr>

		<tr class="font">
			<td>New vocabulary</td>
			<td>{{ stats.new_vocabulary }}</td>
			<td>(cards)</td>
		</tr>

		<tr class="font">
			<td>New sentences</td>
			<td>{{ stats.new_sentences }}</td>
			<td>(cards)</td>
		</tr>

		<tr class="font">
			<td>Days you studied sentences and vocabulary this week</td>
			<td>{{ stats.study_days_this_week }}</td>
			<td>(days)</td>
		</tr>

</table>

{% include 'footer.html' %}
{% endblock %}