{% extends 'base.html' %}
{% block 'content' %}

<h1>Stream</h1>

<form action="{% url 'stream' %}" method="POST">
	{% csrf_token %}

	<div class="flex-parent jc-center">
	    <div class="input_container">
	        <label class="input_label">Start date</label>
	        <input required type="date" class="input_content" name="start">
	    </div>
	  </div>

	<div class="flex-parent jc-center">
	    <div class="input_container">
	        <label class="input_label">End date</label>
	        <input required type="date" class="input_content" name="end">
	    </div>
    </div>

	<div class="flex-parent jc-center">
		<button type="submit" class="button_main" name="stream_action" value="filter">Filter</button>
	</div>

</form>


<div class="list_container">
	<ul class="list">

		{% for row in rows %}
			
			<form action="{% url 'stream' %}" method="POST">
				{% csrf_token %}
				<li class="list_item">

					<div class="list_content">{{ row.2 }}</div>
					<div class="list_content_inside">{{ row.4 }}</div>
					<div class="list_content_small">{{ row.3 }}</div>

					<input type="hidden" name="unique_id" value="{{ row.8 }}">

					<div class="list_button">
						<button type="submit" class="button_main" name="stream_action" value="explore">Explore</button>
					</div>

				</li>
			</form>

		{% endfor %}

	</ul>
</div>

{% include 'footer.html' %}
{% endblock %}