{% extends 'base.html' %}
{% block 'content' %}

<h1>STREAM</h1>

<form action="{% url 'stream' %}" method="POST">
	{% csrf_token %}

	<div class="flex-parent jc-center">
	    <div class="input_container">
	        <label class="input_label">Start date</label>
	        <input required type="date" class="input_content" name="start">
	    </div>
	  </div>

	<div class="flex-parent jc-center">
	    <div class="input_container">
	        <label class="input_label">End date</label>
	        <input required type="date" class="input_content" name="end">
	    </div>
    </div>

	<div class="flex-parent jc-center">
		<button type="submit" class="button_main" name="stream_action" value="filter">Filter</button>
	</div>

</form>

<table>

		<tr class="font">

			<th>Date</th>
			<th>Name</th>
			<th>Command</th>
			<th>Value</th>

		</tr>

	{% for row in rows %}

		<tr class="font">

			<td>{{ row.2 }}</td>
			<td>{{ row.3 }}</td>
			<td>{{ row.4 }}</td>
			<td>{{ row.5 }}</td>
			<td>
				<form action="{% url 'stream' %}"  method="POST">
					{% csrf_token %}
					  <div class="flex-parent jc-center">
					  		<input type="hidden" name="unique_id" value="{{ row.8 }}">
					    	<button type="submit" class="button_main" name="stream_action" value="explore">Explore</button>
					  </div>
				</form>
			</td>

		</tr>

	{% endfor %}

</table>


{% include 'footer.html' %}
{% endblock %}