{% extends 'no_navigation.html' %}
{% block 'content' %}
{% load static %}

<div class="top_tabs fade_in">
</div>

<div class="middle_tabs">
  <div class="tab">
    <div class="tab_icon"><img class="tab_icon" src="{% static 'images/point.png' %}"></div>
    <div class="tab_title">Activity</br>Points</div>
    <div class="tab_content">{{ activity_points }}</div>
  </div>

  <div class="tab fade_in">
    <div class="tab_icon"><img class="tab_icon" src="{% static 'images/ranking.png' %}"></div>
    <div class="tab_title">Ranking</br></div>
    <div class="tab_content">{{ ranking }}</div>
  </div>

  <div class="tab fade_in">
    <div class="tab_icon"><img class="tab_icon" src="{% static 'images/clock.png' %}"></div>
    <div class="tab_title">Weeks</br>Til Finals</div>
    <div class="tab_content">{{ countdown }}</div>
  </div>
</div>

<div class="bottom_tabs">
  <div>
    <form action="{% url 'summary' client=client %}"  method="POST">
      {% csrf_token %}

      <div class="flex-parent jc-center">
        <button class="button_main button_main_page fade_in" name="action_on_summary" value="enter">Enter</button>
      </div>

    </form>
  </div>
</div>

{% endblock %}