{% extends 'base.html' %}
{% block 'content' %}
{% load static %}

<form action="{% url 'survey' item=item %}"  method="POST">
   {% csrf_token %}

   <h1>{{ question }}</h1>

   <div class="flex-parent jc-center">
      <div class="input_container">
         <label class="input_label">Content</label>
         <textarea type="text" class="input_content input_paragraph" name="content" required></textarea>
      </div>
   </div>

  <div class="flex-parent jc-center">
      <button type="submit" class="button_main" name="action_on_survey" value="submit">Submit</button>
  </div>

</form>

{% endblock %}