{% extends 'base.html' %}
{% block 'content' %}

<h1>SWITCH CLIENTS</h1>

	<form action="{% url 'switch_clients' %}" method="POST">
	{% csrf_token %}
	
		<div class="flex-parent jc-center">
		 <div class="input_container">
		  <label for="client" class="input_label">Client</label>

		  <select class="input_content" name="client" id="client">
		  	<option value="{{ current_client }}" required>{{ current_client }}</option>
		  	{% for client in clients %}
		    <option value="{{ client }}" required>{{ client }}</option>
		    {% endfor %}
		  </select>

		</div>
		</div>

		<div class="flex-parent jc-center">
			<button type="submit" class="button_main">Change</button>
		</div>

	</form>

{% include 'footer.html' %}
{% endblock %}