{% extends 'base.html' %}
{% block 'content' %}

<h1>TIMESHEET</h1>

<form action="{% url 'timesheet' %}"  method="POST">
   {% csrf_token %}

   <h2>{{ duration }}</h2>

   <input type="hidden" name="employee" value="{{ employee }}">
   <input type="hidden" name="start" value="{{ start }}">
   <input type="hidden" name="end" value="{{ end }}">

   <div class="flex-parent jc-center">
      <button type="submit" class="button_main" name="action_on_timesheet" value="new">New</button>
      <button type="submit" class="button_main" name="action_on_timesheet" value="download">Download</button>
   </div>

</form>

<table>

	<tr>
		<th>Start</th>
		<th>Stop</th>
		<th >Duration (min)</th>
		<th class="td_sentences">Task</th>
	</tr>

	{% for entry in entries %}

		<tr>
			<td>{{ entry.clock_in }}</td>
			<td>{{ entry.clock_out }}</td>
			<td>{{ entry.duration }}</td>
			<td class="td_sentences">{{ entry.category_name|safe }}</td>
		</tr>

	{% endfor %}
	
</table>

{% include 'footer.html' %}
{% endblock %}