{% extends 'base.html' %}
{% block 'content' %}

<h1>TIMESHEET</h1>

<form action="{% url 'timesheet' %}"  method="POST">
   {% csrf_token %}

   <div class="flex-parent jc-center">
      <div class="input_container">
         <label class="input_label">From</label>
         <input type="date" class="input_content" name="start">
      </div>
   </div>

   <div class="flex-parent jc-center">
      <div class="input_container">
         <label class="input_label">To</label>
         <input type="date" class="input_content" name="end">
      </div>
   </div>

   <div class="flex-parent jc-center">
      <button type="submit" class="button_main" name="action_on_timesheet" value="filter">Filter</button>
   </div>

</form>

<table>

	<tr>
		<th>Start</th>
		<th>Stop</th>
		<th >Duration (min)</th>
		<th class="td_sentences">Task</th>
	</tr>

	{% for entry in entries %}

		<tr>
			<td>{{ entry.clock_in }}</td>
			<td>{{ entry.clock_out }}</td>
			<td>{{ entry.duration }}</td>
			<td class="td_sentences">{{ entry.category_name|safe }}</td>
		</tr>

	{% endfor %}
	
</table>

{% include 'footer.html' %}
{% endblock %}