{% extends 'base.html' %}
{% block 'content' %}
{% load static %} 

<h1>{{ title.upper }}</h1>

<form action="{% url 'translate_sentences' item=item %}" method="POST">
  {% csrf_token %}

  <div class="flex-parent jc-center"> 
    <div class="input_container">
      <label class="input_label">Item</label>
      <input type="number" class="input_content input_prefilled" name="item" value="{{ item }}" readonly required>
    </div>
  </div>

  <div class="flex-parent jc-center"> 
     <div class="input_container">
      <label class="input_label">Client</label>
      <input type="text" class="input_content input_prefilled" name="client" value="{{ client }}" readonly required>
    </div>
  </div>

{% for sentence in sentences %}
  <div class="flex-parent jc-center"> 
     <div class="input_long_container">
      <label class="input_label input_long_label">{{ sentence.1 }}</label>
      <input type="hidden" name="polish" value="{{ sentence.1 }}">
      <input type="hidden" name="sentence_number" value="{{ sentence.0 }}">
      <textarea type="text" class="input_content input_paragraph" name="english" required></textarea>
    </div>
  </div>
{% endfor %}

  <div class="flex-parent jc-center">
    <button type="submit" class="button_main" id="submit_button" name="action_on_submission" value="translate" onclick="disableButton(this.id)">Submit</button>
  </div>

</form>

<div class="break"></div>

<script src="{% static 'functions.js' %}"></script>

{% endblock %}