{% extends 'base.html' %}
{% block 'content' %}
{% load static %} 

<h1>{{ title.upper }}</h1>

<form action="{% url 'submit_assignment' %}" method="POST">
  {% csrf_token %}

  <div class="flex-parent jc-center"> 
    <div class="input_container">
      <label class="input_label">Item</label>
      <input type="number" class="input_content input_prefilled" name="item" value="{{ item }}" readonly required>
    </div>
  </div>

  <div class="flex-parent jc-center"> 
     <div class="input_container">
      <label class="input_label">Name</label>
      <input type="text" class="input_content input_prefilled" name="name" value="{{ name }}" readonly required>
    </div>
  </div>

{% for sentence in sentences %}
  <div class="flex-parent jc-center"> 
     <div class="input_long_container">
      <label class="input_label input_long_label">{{ sentence.1 }}</label>
      <input type="hidden" name="polish_{{ forloop.counter0 }}" value="{{ sentence.1 }}">
      <input type="hidden" name="sentence_number_{{ forloop.counter0 }}" value="{{ sentence.0 }}">
      <textarea type="text" class="input_content input_paragraph" name="translation_{{ forloop.counter0 }}" required></textarea>
    </div>
  </div>
{% endfor %}



  <input type="hidden" name="assignment_type" value="sentences">
  <input type="hidden" name="title" value="{{ title }}">

  <div class="flex-parent jc-center">
    <button type="submit" class="button_main" id="final_button" name="go_to" value="translated_sentences" onclick="disableButton(this.id)">Submit</button>
  </div>

</form>

<script src="{% static 'functions.js' %}"></script>

{% endblock %}