{% extends 'base.html' %}
{% block 'content' %}
{% load static %}

<div class="flex-parent jc-center">
 <form action="{% url 'view_answer' %}" method="POST">
    {% csrf_token %}
    <div class="phrase_card">
      <div class="phrase_card_container">
        <h5 class="phrase_card_question">{{ polish }}</h5>
        <p class="phrase_card_answer"><span class="section">{{ english }}</span></p>
        <input type="hidden" name="deck" value="{{ deck }}">

        {% if interval != 0 %}

        <button type="submit" class="button_main" value="incorrect" name="answer" id="incorrect_b" onclick="disableButton(this.id)">Incorrect</button>
        <button type="submit" class="button_main" value="hard" name="answer" id="hard_b" onclick="disableButton(this.id)">Hard</button>
        <button type="submit" class="button_main" value="easy" name="answer" id="easy_b" onclick="disableButton(this.id)">Easy</button>

        {% else %}

        <button type="submit" class="button_main" value="incorrect" name="answer" id="incorrect_b_2" onclick="disableButton(this.id)">Incorrect</button>
        <button type="submit" class="button_main" value="hard" name="answer" id="correct_b" onclick="disableButton(this.id)">Correct</button>

        {% endif %}

      </div>
    </div>

</div>

<div class="flex-parent jc-center keep_distance">
  <div class="counter old_counter">{{ old_due_today }}</div>
  <div class="counter new_counter">{{ new_due_today }}</div>
  <div class="counter problematic_counter">{{ problematic_due_today }}</div>

    <button type="submit" class="counter" name="answer" value="edit"><img src="{% static '/images/pencil.png' %}" width="15" height="15"></button>

  </form>
</div>

<script src="{% static 'functions.js' %}"></script>  


{% endblock %}